<table><tr>
<td>
<!--{if ($cpl[30]=='999') }--><img src="img/ach/30.gif"><!--{/if}-->
<!--{if ($cpl[30]=='0') }--><img src="img/ach/lifetime_N.png"><!--{/if}-->
<!--{if (($cpl[30]!='999')&&($cpl[30]!='0')) }--><img src="img/ach/lifetime_D.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[30]=='0') }-->饥不择食<!--{/if}-->
<!--{if ($cpl[30]=='1') }-->尝百草<!--{/if}-->
<!--{if ($cpl[30]=='2') }-->吞食天地<!--{/if}-->
<!--{if ($cpl[30]=='999') }-->吞食天地<!--{/if}-->
</b></span>
<!--{if ($cpl[30]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[30]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前进度： {$prc[30]}次<br></font>
<!--{if ($cpl[30]=='0') }--><font color="olive">奖励： 切糕5<br></font> 食用30效以上的有毒补给5次<br><!--{/if}-->
<!--{if ($cpl[30]=='1') }--><font color="olive">奖励： 切糕50 <span class="evergreen">称号 神农</span><br></font> 食用30效以上的有毒补给133次<br><!--{/if}-->
<!--{if ($cpl[30]=='2') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 贝爷</span><br></font> 食用30效以上的有毒补给365次<br><!--{/if}-->
<!--{if ($cpl[30]=='999') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 贝爷</span><br></font> 食用30效以上的有毒补给365次<br><!--{/if}-->
</td>
</tr></table>