<table><tr>
<td>
<!--{if ($cpl[2]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[2]=='0') }-->Run With Wolves<!--{/if}-->
<!--{if ($cpl[2]=='1') }-->Day Game<!--{/if}-->
<!--{if ($cpl[2]=='2') }-->Thousand Enemies<!--{/if}-->
<!--{if ($cpl[2]=='999') }-->Thousand Enemies<!--{/if}-->
</b></span>
<!--{if ($cpl[2]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[2]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">击杀总数： {$prc[2]}名<br></font>
<!--{if ($cpl[2]=='0') }--><font color="olive">奖励： 积分10<br></font> 在自己的行动中击杀10名玩家<br><!--{/if}-->
<!--{if ($cpl[2]=='1') }--><font color="olive">奖励： 积分500 <span class="evergreen">称号 二度打</span><br></font> 在自己的行动中击杀100名玩家<br><!--{/if}-->
<!--{if ($cpl[2]=='2') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 G.D.M</span><br></font> 在自己的行动中击杀1000名玩家<br><!--{/if}-->
<!--{if ($cpl[2]=='999') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 G.D.M</span><br></font> 在自己的行动中击杀1000名玩家<br><!--{/if}-->
</td>
</tr></table>