<table><tr>
<td>
<!--{if ($cpl[49]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[49]=='0') }-->超级ＫＥＹ爱好者<!--{/if}-->
<!--{if ($cpl[49]=='1') }-->键·四季赞歌<!--{/if}-->
<!--{if ($cpl[49]=='999') }-->键·四季赞歌<!--{/if}-->
</b></span>
<!--{if ($cpl[49]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[49]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[49]}次<br></font>
<!--{if ($cpl[49]=='0') }--><font color="olive">奖励： 切糕100<br></font> 合成物品【春雨夏海，秋叶冬雪】1次<br><!--{/if}-->
<!--{if ($cpl[49]=='1') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 键·四季赞歌</span><br></font> 合成物品【春雨夏海，秋叶冬雪】7次<br><!--{/if}-->
<!--{if ($cpl[49]=='999') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 键·四季赞歌</span><br></font> 合成物品【春雨夏海，秋叶冬雪】7次<br><!--{/if}-->
</td>
</tr></table>