<div class="subtitle" align="left">{lang lifetime_achievement}</div>
<font color="olive">这里是记录了你在这个游戏中的积累相关的成就。<br>呜呼——玩家们出发了……<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top"> {template achievement_2} </td>
	<td width="300" align="left" valign="top"> {template achievement_3} </td>
	<td width="300" align="left" valign="top"> {template achievement_27} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_29} </td>
	<td width="300" align="left" valign="top"> {template achievement_30} </td>
	<td width="300" align="left" valign="top"> {template achievement_53} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_54} </td>
	<td width="300" align="left" valign="top"> {template achievement_55} </td>
	<td width="300" align="left" valign="top"> {template achievement_255} </td>
</tr>
</table>
