<div class="subtitle" align="left">{lang mixitem_achievement}</div>
<font color="olive">这里是与合成各种物品相关的成就。<br>如果看合成表觉得麻烦，只以这些物品为目标似乎也不错。<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top"> {template achievement_0} </td>
	<td width="300" align="left" valign="top"> {template achievement_14} </td>
	<td width="300" align="left" valign="top"> {template achievement_15} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_33} </td>
	<td width="300" align="left" valign="top"> {template achievement_35} </td>
	<td width="300" align="left" valign="top"> {template achievement_36} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_37} </td>
	<td width="300" align="left" valign="top"> {template achievement_38} </td>
	<td width="300" align="left" valign="top"> {template achievement_39} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_40} </td>
	<td width="300" align="left" valign="top"> {template achievement_41} </td>
	<td width="300" align="left" valign="top"> {template achievement_42} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_43} </td>
	<td width="300" align="left" valign="top"> {template achievement_44} </td>
	<td width="300" align="left" valign="top"> {template achievement_45} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_46} </td>
	<td width="300" align="left" valign="top"> {template achievement_47} </td>
	<td width="300" align="left" valign="top"> {template achievement_48} </td>
</tr>
</table>
