<table><tr>
<td>
<!--{if ($cpl[52]) }--><img src="img/achievement_0.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[52]=='0') }-->真正的决斗者<!--{/if}-->
<!--{if ($cpl[52]=='1') }-->◎胜利之光◎<!--{/if}-->
<!--{if ($cpl[52]=='999') }-->◎胜利之光◎<!--{/if}-->
</b>
<!--{if ($cpl[52]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[52]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[52]}次<br></font>
<!--{if ($cpl[52]=='0') }--><font color="olive">奖励： 切糕100<br></font> 合成物品◎光之创造神◎1次<br><!--{/if}-->
<!--{if ($cpl[52]=='1') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 『ＥＸ』</span><br></font> 合成物品◎光之创造神◎7次<br><!--{/if}-->
<!--{if ($cpl[52]=='999') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 『ＥＸ』</span><br></font> 合成物品◎光之创造神◎7次<br><!--{/if}-->
</td>
</tr></table>