<table><tr>
<td>
<!--{if ($cpl[31]) }--><img src="img/ach/31.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>Return to Sender</b>
<!--{if ($cpl[31]) }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">完成次数： $prc[31]次<br></font>
<!--{if (!$cpl[31]) }--><font color="olive">奖励： ■■■■■■ ■■■■<br></font> <!--{/if}-->
<!--{if (!$cpl[31]) }-->■■■■■■■ ■■<br>■■■■■■■■   ■■■■<!--{/if}-->
<!--{if ($cpl[31]) }--><font color="olive">奖励： <span class="evergreen">称号 R.T.S</span><br></font> <!--{/if}-->
<!--{if ($cpl[31]) }-->用【KEY系催泪弹】主动击杀<span class="evergreen">“KEY男”</span>持有者<br><!--{/if}-->
</td>
</tr></table>
