<table><tr>
<td>
<!--{if ($cpl[46]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[46]=='0') }-->来精进灵系吧！<!--{/if}-->
<!--{if ($cpl[46]=='1') }-->五行大师<!--{/if}-->
<!--{if ($cpl[46]=='2') }-->贤者之石<!--{/if}-->
<!--{if ($cpl[46]=='999') }-->贤者之石<!--{/if}-->
</b></span>
<!--{if ($cpl[46]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[46]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[46]}次<br></font>
<!--{if ($cpl[46]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品火水木金土符『贤者之石』1次<br><!--{/if}-->
<!--{if ($cpl[46]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 五行大师</span><br></font> 合成物品火水木金土符『贤者之石』51次<br><!--{/if}-->
<!--{if ($cpl[46]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 贤者之石</span><br></font> 合成物品火水木金土符『贤者之石』111次<br><!--{/if}-->
<!--{if ($cpl[46]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 贤者之石</span><br></font> 合成物品火水木金土符『贤者之石』111次<br><!--{/if}-->
</td>
</tr></table>