<table><tr>
<td>
<!--{if ($cpl[40]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[40]=='0') }-->试试看游戏王吧！<!--{/if}-->
<!--{if ($cpl[40]=='1') }-->光的道路<!--{/if}-->
<!--{if ($cpl[40]=='2') }-->决斗者<!--{/if}-->
<!--{if ($cpl[40]=='999') }-->决斗者<!--{/if}-->
</b></span>
<!--{if ($cpl[40]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[40]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[40]}次<br></font>
<!--{if ($cpl[40]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品星尘龙 ★8 1次<br><!--{/if}-->
<!--{if ($cpl[40]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 光的道路</span><br></font> 合成物品星尘龙 ★8 51次<br><!--{/if}-->
<!--{if ($cpl[40]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 决斗者</span><br></font> 合成物品星尘龙 ★8 111次<br><!--{/if}-->
<!--{if ($cpl[40]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 决斗者</span><br></font> 合成物品星尘龙 ★8 111次<br><!--{/if}-->
</td>
</tr></table>