<table><tr>
<td>
<!--{if ($cpl[47]) }--><img src="img/achievement_0.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[47]=='0') }-->知己知彼！<!--{/if}-->
<!--{if ($cpl[47]=='1') }-->知地利<!--{/if}-->
<!--{if ($cpl[47]=='2') }-->知人和<!--{/if}-->
<!--{if ($cpl[47]=='999') }-->知人和<!--{/if}-->
</b>
<!--{if ($cpl[47]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[47]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[47]}次<br></font>
<!--{if ($cpl[47]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品广域生命探测器1次<br><!--{/if}-->
<!--{if ($cpl[47]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 知地利</span><br></font> 合成物品广域生命探测器51次<br><!--{/if}-->
<!--{if ($cpl[47]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 知人和</span><br></font> 合成物品广域生命探测器111次<br><!--{/if}-->
<!--{if ($cpl[47]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 知人和</span><br></font> 合成物品广域生命探测器111次<br><!--{/if}-->
</td>
</tr></table>