<table><tr>
<td>
<!--{if ($cpl[0]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[0]=='0') }-->永恒世界的住人<!--{/if}-->
<!--{if ($cpl[0]=='1') }-->幻想世界的往人<!--{/if}-->
<!--{if ($cpl[0]=='2') }-->永恒的覆唱<!--{/if}-->
<!--{if ($cpl[0]=='999') }-->永恒的覆唱<!--{/if}-->
</b></span>
<!--{if ($cpl[0]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[0]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[0]}次<br></font>
<!--{if ($cpl[0]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品【KEY系催泪弹】1次<br><!--{/if}-->
<!--{if ($cpl[0]=='1') }--><font color="olive">奖励： 积分200 <span class="evergreen">称号 幻想</span><br></font> 合成物品【KEY系催泪弹】5次<br><!--{/if}-->
<!--{if ($cpl[0]=='2') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 流星</span><br></font> 合成物品【KEY系催泪弹】30次<br><!--{/if}-->
<!--{if ($cpl[0]=='999') }--><font color="olive">奖励： 积分700 <span class="evergreen">称号 流星</span><br></font> 合成物品【KEY系催泪弹】30次<br><!--{/if}-->
</td>
</tr></table>
