<table><tr>
<td>
<!--{if ($cpl[33]) }--><img src="img/ach/33.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[33]=='0') }-->诅咒之刃<!--{/if}-->
<!--{if ($cpl[33]=='999') }-->诅咒之刃<!--{/if}-->
</b>
<!--{if ($cpl[33]=='999') }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">完成次数： {$prc[33]}次<br></font>
<font color="olive">奖励： 切糕522 <span class="evergreen">称号 剑圣</span><br></font>化解诅咒需以毒攻毒。豪运自然也不可或缺。<br>
</td>
</tr></table>
