<table><tr>
<td>
<!--{if ($cpl[38]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[38]=='0') }-->试试看射系吧！<!--{/if}-->
<!--{if ($cpl[38]=='1') }-->勇闯仙境<!--{/if}-->
<!--{if ($cpl[38]=='2') }-->射系爱好者<!--{/if}-->
<!--{if ($cpl[38]=='999') }-->射系爱好者<!--{/if}-->
</b></span>
<!--{if ($cpl[38]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[38]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[38]}次<br></font>
<!--{if ($cpl[38]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品『迷你鲨』1次<br><!--{/if}-->
<!--{if ($cpl[38]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 勇闯仙境</span><br></font> 合成物品『迷你鲨』51次<br><!--{/if}-->
<!--{if ($cpl[38]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 射系爱好者</span><br></font> 合成物品『迷你鲨』111次<br><!--{/if}-->
<!--{if ($cpl[38]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 射系爱好者</span><br></font> 合成物品『迷你鲨』111次<br><!--{/if}-->
</td>
</tr></table>