<table><tr>
<td>
<!--{if ($cpl[35]) }--><img src="img/achievement_0.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[35]=='0') }-->试试看殴系吧！<!--{/if}-->
<!--{if ($cpl[35]=='1') }-->热血的机师<!--{/if}-->
<!--{if ($cpl[35]=='2') }-->殴系爱好者<!--{/if}-->
<!--{if ($cpl[35]=='999') }-->殴系爱好者<!--{/if}-->
</b>
<!--{if ($cpl[35]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[35]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[35]}次<br></font>
<!--{if ($cpl[35]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品『T-LINK念动冲拳』1次<br><!--{/if}-->
<!--{if ($cpl[35]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 热血机师</span><br></font> 合成物品『T-LINK念动冲拳』51次<br><!--{/if}-->
<!--{if ($cpl[35]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 殴系爱好者</span><br></font> 合成物品『T-LINK念动冲拳』111次<br><!--{/if}-->
<!--{if ($cpl[35]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 殴系爱好者</span><br></font> 合成物品『T-LINK念动冲拳』111次<br><!--{/if}-->
</td>
</tr></table>