<table><tr>
<td>
<!--{if ($cpl[43]) }--><img src="img/achievement_0.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[43]=='0') }-->试试看爆系吧！<!--{/if}-->
<!--{if ($cpl[43]=='1') }-->红烧天堂<!--{/if}-->
<!--{if ($cpl[43]=='2') }-->爆系爱好者<!--{/if}-->
<!--{if ($cpl[43]=='999') }-->爆系爱好者<!--{/if}-->
</b>
<!--{if ($cpl[43]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[43]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[43]}次<br></font>
<!--{if ($cpl[43]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品莫洛托夫鸡尾酒1次<br><!--{/if}-->
<!--{if ($cpl[43]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 红烧天堂</span><br></font> 合成物品莫洛托夫鸡尾酒51次<br><!--{/if}-->
<!--{if ($cpl[43]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 爆系爱好者</span><br></font> 合成物品莫洛托夫鸡尾酒111次<br><!--{/if}-->
<!--{if ($cpl[43]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 爆系爱好者</span><br></font> 合成物品莫洛托夫鸡尾酒111次<br><!--{/if}-->
</td>
</tr></table>