<table><tr>
<td>
<!--{if ($cpl[4]=='999') }--><img src="img/ach/4_1.gif"><!--{/if}-->
<!--{if ($cpl[4]=='0') }--><img src="img/ach/N.gif"><!--{/if}-->
<!--{if (($cpl[4]!='999')&&($cpl[4]!='0')) }--><img src="img/ach/D.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[4]=='0') }-->冒烟突火<!--{/if}-->
<!--{if ($cpl[4]=='1') }-->红杀将军<!--{/if}-->
<!--{if ($cpl[4]=='999') }-->红杀将军<!--{/if}-->
</b>
<!--{if ($cpl[4]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[4]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">推倒次数： {$prc[4]}次<br></font>
<!--{if ($cpl[4]=='0') }--><font color="olive">奖励： 积分50 切糕75<br></font> 推倒红暮1次<br><!--{/if}-->
<!--{if ($cpl[4]=='1') }--><font color="olive">奖励： <span class="evergreen">称号 越红者</span><br></font> 推倒红暮9次<br><!--{/if}-->
<!--{if ($cpl[4]=='999') }--><font color="olive">奖励： <span class="evergreen">称号 越红者</span><br></font> 推倒红暮9次<br><!--{/if}-->
</td>
</tr></table>
