<table><tr>
<td>
<!--{if ($cpl[48]) }--><img src="img/ach/mixitem_D.png"><!--{else}--><img src="img/ach/mixitem_N.png"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[48]=='0') }-->感受一下混沌吧！<!--{/if}-->
<!--{if ($cpl[48]=='1') }-->混沌爱好者<!--{/if}-->
<!--{if ($cpl[48]=='2') }-->混沌的深渊<!--{/if}-->
<!--{if ($cpl[48]=='999') }-->混沌的深渊<!--{/if}-->
</b></span>
<!--{if ($cpl[48]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[48]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[48]}次<br></font>
<!--{if ($cpl[48]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品法式面包棍棒1次<br><!--{/if}-->
<!--{if ($cpl[48]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 混沌爱好者</span><br></font> 合成物品法式面包棍棒51次<br><!--{/if}-->
<!--{if ($cpl[48]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 混沌的深渊</span><br></font> 合成物品法式面包棍棒111次<br><!--{/if}-->
<!--{if ($cpl[48]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 混沌的深渊</span><br></font> 合成物品法式面包棍棒111次<br><!--{/if}-->
</td>
</tr></table>