<table><tr>
<td>
<!--{if ($cpl[37]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[37]=='0') }-->来精进斩系吧！<!--{/if}-->
<!--{if ($cpl[37]=='1') }-->合二为一<!--{/if}-->
<!--{if ($cpl[37]=='2') }-->钥刃大师<!--{/if}-->
<!--{if ($cpl[37]=='999') }-->钥刃大师<!--{/if}-->
</b></span>
<!--{if ($cpl[37]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[37]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">合成次数： {$prc[37]}次<br></font>
<!--{if ($cpl[37]=='0') }--><font color="olive">奖励： 切糕10<br></font> 合成物品『Two Become One』1次<br><!--{/if}-->
<!--{if ($cpl[37]=='1') }--><font color="olive">奖励： 积分100 <span class="evergreen">称号 合二为一</span><br></font> 合成物品『Two Become One』51次<br><!--{/if}-->
<!--{if ($cpl[37]=='2') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 钥刃大师</span><br></font> 合成物品『Two Become One』111次<br><!--{/if}-->
<!--{if ($cpl[37]=='999') }--><font color="olive">奖励： 积分350 <span class="evergreen">称号 钥刃大师</span><br></font> 合成物品『Two Become One』111次<br><!--{/if}-->
</td>
</tr></table>