<table><tr>
<td>
<!--{if ($cpl[29]) }--><img src="img/achievement_0.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[29]=='0') }-->及时补给<!--{/if}-->
<!--{if ($cpl[29]=='1') }-->衣食无忧<!--{/if}-->
<!--{if ($cpl[29]=='2') }-->奥义很爽<!--{/if}-->
<!--{if ($cpl[29]=='999') }-->奥义很爽<!--{/if}-->
</b>
<!--{if ($cpl[29]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[29]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前进度： {$prc[29]}点<br></font>
<!--{if ($cpl[29]=='0') }--><font color="olive">奖励： 切糕5<br></font> 使用无毒补给的总效果达到32767点<br><!--{/if}-->
<!--{if ($cpl[29]=='1') }--><font color="olive">奖励： 切糕50 <span class="evergreen">称号 美食家</span><br></font> 使用无毒补给的总效果达到142857点<br><!--{/if}-->
<!--{if ($cpl[29]=='2') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 补给掠夺者</span><br></font> 使用无毒补给的总效果达到999983点<br><!--{/if}-->
<!--{if ($cpl[29]=='999') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 补给掠夺者</span><br></font> 使用无毒补给的总效果达到999983点<br><!--{/if}-->
</td>
</tr></table>