<table><tr>
<td>
<!--{if ($cpl[34]=='999') }--><img src="img/ach/34_999.gif"><!--{/if}-->
<!--{if ($cpl[34]=='0') }--><img src="img/ach/N.gif"><!--{/if}-->
<!--{if (($cpl[34]!='999')&&($cpl[34]!='0')) }--><img src="img/ach/34.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[34]=='0') }-->逃避可耻？<!--{/if}-->
<!--{if ($cpl[34]=='1') }-->但它有用！<!--{/if}-->
<!--{if ($cpl[34]=='2') }-->直面现实<!--{/if}-->
<!--{if ($cpl[34]=='999') }-->逃脱大师<!--{/if}-->
</b>
<!--{if ($cpl[34]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[34]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">目前进度： {$prc[34]}次<br></font>
<!--{if ($cpl[34]=='0') }--><font color="olive">奖励： 积分10 切糕5<br><span class="evergreen">称号 实用主义者</span><br></font> 独自逃离幻境1次。<br><!--{/if}-->
<!--{if ($cpl[34]=='1') }--><font color="olive">奖励： 积分50 切糕50<br><span class="evergreen">称号 现实主义者</span><br></font> 独自逃离幻境36次。<br><!--{/if}-->
<!--{if ($cpl[34]=='2') }--><font color="olive">奖励： 积分100 切糕200<br><span class="evergreen">称号 脚底抹油</span><br></font> 独自逃离幻境101次。<br><!--{/if}-->
<!--{if ($cpl[34]=='999') }--><font color="olive">奖励： 积分100 切糕200<br><span class="evergreen">称号 脚底抹油</span><br></font> 独自逃离幻境101次。<br><!--{/if}-->
</td>
</tr></table>