<table><tr>
<td>
<!--{if ($cpl[55]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/ach/N.gif"><!--{/if}-->
</td>
<td  class="ach_cont">
<b><span class="ach_title">
<!--{if ($cpl[55]=='0') }-->来打补丁吧！<!--{/if}-->
<!--{if ($cpl[55]=='1') }-->补丁爱好者<!--{/if}-->
<!--{if ($cpl[55]=='2') }-->无情补丁<!--{/if}-->
<!--{if ($cpl[55]=='999') }-->无情补丁<!--{/if}-->
</b></span>
<!--{if ($cpl[55]=='999') }--><span class="lime">[完成]</span><!--{else}--><!--{if ($cpl[55]==0) }--><span class="red">[未完成]</span><!--{else}--><span class="clan">[进行中]</span><!--{/if}--><!--{/if}--><br>
<font color="yellow">强化数额： {$prc[55]}<br></font>
<!--{if ($cpl[55]=='0') }--><font color="olive">奖励： 切糕5<br></font> 使用针线包来强化装备777点<br><!--{/if}-->
<!--{if ($cpl[55]=='1') }--><font color="olive">奖励： 切糕50 <span class="evergreen">称号 补丁爱好者</span><br></font> 使用针线包来强化装备777点<br><!--{/if}-->
<!--{if ($cpl[55]=='2') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 无情补丁</span><br></font> 使用针线包来强化装备1777点<br><!--{/if}-->
<!--{if ($cpl[55]=='999') }--><font color="olive">奖励： 切糕200 <span class="evergreen">称号 无情补丁</span><br></font> 使用针线包来强化装备17777点<br><!--{/if}-->
</td>
</tr></table>