<form method="post" name="banlist" onsubmit="admin.php">
	<input type="hidden" name="mode" value="banlistmng">
	<input type="hidden" name="command" id="command" value="">
	<table class="admin">
		<tr>
			<th colspan="2">Banlist Management</th>
		</tr>
		<tr>
			<td colspan="2">Enter Username and IP Address, Regular Expressions Supported. Please Proceed with Caution.</td>
		</tr>
		<tr>
			<th>Username Banlist</th>
			<th>IP Address Banlist</th>
		</tr>
		<tr>
			<td><textarea name="postnmlmt" style="width:400;height:200">$nmlimit</textarea></td>
			<td><textarea name="postiplmt" style="width:400;height:200">$iplimit</textarea></td>
		</tr>
	</table>
	<input type="submit" value="SUBMIT" onclick="$('command').value='write'">
</form> 