<form method="post" name="configmng" onsubmit="admin.php">
<input type="hidden" id="mode" name="mode" value="configmng">
<input type="hidden" id="command" name="command" value="">

<table class="admin">
	<tr>
		<th>$lang['variable']</th>
		<th>$lang['value']</th>
		<th>$lang['comment']</th>
	</tr>
	<tr>
	  <td>$lang['moveut']</td>
	  <td><input type="text" name="moveut" value="$moveut" size="5">小时<input type="text" name="moveutmin" value="$moveutmin" size="5">分钟</td>
	  <td>$lang['moveut_comment']<br>{$lang['orin_time']}{$orin_time}<br>{$lang['set_time']}{$set_time}</td>
	</tr>
	<tr>
	  <td>$lang['authkey']</td>
	  <td><input type="text" name="authkey" value="$display_authkey_html" size="30" disabled="true"></td>
	  <td>$lang['authkey_comment']</td>
	</tr>
	<tr>
	  <td>$lang['tplrefresh']</td>
	  <td><input type="radio" name="tplrefresh" value="1" <!--{if $tplrefresh}-->checked="true"<!--{/if}-->>$lang['on']&nbsp;&nbsp;&nbsp;<input type="radio" name="tplrefresh" value="0" <!--{if !$tplrefresh}-->checked="true"<!--{/if}-->>$lang['off']</td>
	  <td>$lang['tplrefresh_comment']</td>
	</tr>
	<tr>
	  <td>$lang['errorinfo']</td>
	  <td><input type="radio" name="errorinfo" value="1" <!--{if $errorinfo}-->checked="true"<!--{/if}-->>$lang['on']&nbsp;&nbsp;&nbsp;<input type="radio" name="errorinfo" value="0" <!--{if !$errorinfo}-->checked="true"<!--{/if}-->>$lang['off']</td>
	  <td>$lang['errorinfo_comment']</td>
	</tr>
	<tr>
	  <td>$lang['bbsurl']</td>
	  <td><input type="text" name="bbsurl" value="$bbsurl_html" size="30"></td>
	  <td>$lang['bbsurl_comment']</td>
	</tr>
	<tr>
	  <td>$lang['gameurl']</td>
	  <td><input type="text" name="gameurl" value="$gameurl_html" size="30"></td>
	  <td>$lang['gameurl_comment']</td>
	</tr>
	<tr>
	  <td>$lang['homepage']</td>
	  <td><input type="text" name="homepage" value="$homepage_html" size="30"></td>
	  <td>$lang['homepage_comment']</td>
	</tr>
	<tr>
	  <td colspan="3" style="background-color: #FFE4E1; text-align: center; font-weight: bold; color: #8B0000;">主从数据库配置 (只读显示)</td>
	</tr>
	<tr>
	  <td>从服务器级别</td>
	  <td><input type="text" value="$display_slave_level_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>-1=反向迁移模式(本地主→远端从), 0=主服务器, 1=从服务器(手动迁移), 2=从服务器(自动同步), 3=从服务器(直接使用主数据库)</td>
	</tr>
	<tr>
	  <td>目标服务器名称</td>
	  <td><input type="text" value="$display_master_server_name_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>用于显示的目标服务器名称（反向迁移模式下为远端从服务器）</td>
	</tr>
	<tr>
	  <td>目标数据库服务器</td>
	  <td><input type="text" value="$display_master_dbhost_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>目标数据库服务器地址（反向迁移模式下为远端从数据库）</td>
	</tr>
	<tr>
	  <td>目标数据库用户名</td>
	  <td><input type="text" value="$display_master_dbuser_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>目标数据库用户名（反向迁移模式下为远端从数据库）</td>
	</tr>
	<tr>
	  <td>目标数据库密码</td>
	  <td><input type="password" value="$display_master_dbpw_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>目标数据库密码（反向迁移模式下为远端从数据库）</td>
	</tr>
	<tr>
	  <td>目标数据库名</td>
	  <td><input type="text" value="$display_master_dbname_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>目标数据库名（反向迁移模式下为远端从数据库）</td>
	</tr>
	<tr>
	  <td>目标数据库表前缀</td>
	  <td><input type="text" value="$display_master_tablepre_html" size="30" disabled="true" style="background-color: #F5F5F5;"></td>
	  <td>目标数据库表前缀（反向迁移模式下为远端从数据库）</td>
	</tr>
</table>
<input type="submit" value="提交" onclick="$('command').value='edit';">
<br><br>
<div style="color: #8B0000; font-size: 12px; text-align: center;">
	注意：主从数据库配置不能通过此界面修改，请直接编辑 config.inc.php 文件或重新运行安装脚本。
</div>
</form>
