<form method="post" name="gameinfomng" onsubmit="admin.php">
	<input type="hidden" name="mode" value="gameinfomng">
	<input type="hidden" id="command" name="command" value="">
	
	<table class="admin">
		<tr>
			<th>Game Variables</th>
			<th>Current Data</th>
			<th>Process Info</th>
		</tr>
		
		<tr>
			<td>Game Number</td>
			<td>$gamenum</td>
			<td></td>
		</tr>
		<tr>
			<td>Game Status</td>
			<td>$gstate[$gamestate]</td>
			<td>
				<!--{if $gamestate == 0}-->
				<input type="submit" value="PREPARATION" onclick="$('command').value='gsedit_10'">
				<!--{elseif $gamestate == 10}-->
				<input type="submit" value="GAME START" onclick="$('command').value='gsedit_20'"><br>
				<input type="submit" value="END GAME" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 20}-->
				<input type="submit" value="LOCK ENTRY" onclick="$('command').value='gsedit_30'"><br>
				<input type="submit" value="GO LOCKDOWN" onclick="$('command').value='gsedit_40'"><br>
				<input type="submit" value="GO DUEL" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="END GAME" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 30}-->
				<input type="submit" value="GO LOCKDOWN" onclick="$('command').value='gsedit_40'"><br>
				<input type="submit" value="GO DUEL" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="END GAME" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 40}-->
				<input type="submit" value="GO DUEL" onclick="$('command').value='gsedit_50'"><br>
				<input type="submit" value="END GAME" onclick="$('command').value='gsedit_0'">
				<!--{elseif $gamestate == 50}-->
				<input type="submit" value="END GAME" onclick="$('command').value='gsedit_0'">
				<!--{/if}-->
			</td>
		</tr>
		<tr>
			<td>
				<!--{if $gamestate}-->
				Current Round Start Time
				<!--{else}-->
				Next Round Start Time
				<!--{/if}-->
			</td>
			<td>				
				<input type="text" name="setyear" size="4" value="{$styear}">{$lang['year']}
				<input type="text" name="setmonth" size="2" value="{$stmonth}">{$lang['month']}
				<input type="text" name="setday" size="2" value="{$stday}">{$lang['day']}
				<input type="text" name="sethour" size="2" value="{$sthour}">{$lang['hour']}
				<input type="text" name="setmin" size="2" value="{$stmin}">{$lang['min']}
			</td>
			<td>
				<!--{if $gamestate}-->
				<input type="submit" value="CANNOT SET" disabled>
				<!--{else}-->
				<input type="submit" value="SET TIME" onclick="$('command').value='sttimeedit'">
				<!--{/if}-->
			</td>
		</tr>
		<tr>
			<td>Weather Info</td>
			<td>
				<select name="iweather">
					<!--{loop $wthinfo $n $wth}-->
					<option value="$n" <!--{if $weather == $n}-->selected<!--{/if}-->>$wth
					<!--{/loop}-->
				</select>
			</td>
			<td><input type="submit" value="CHANGE WEATHER" onclick="$('command').value='wthedit'"></td>
		</tr>
		<tr>
			<td>Restricted Area List</td>
			<td>$arealiststr</td>
			<td></td>
		</tr>
		<tr>
			<td>Next On List</td>
			<td>$nextarealiststr</td>
			<td></td>
		</tr>
		<tr>
			<td>Existing Restriced Areas</td>
			<td>$areanum</td>
			<td></td>
		</tr>
		<tr>
			<td>Next Restricted area in</td>
			<td>
				<input type="text" name="areayear" size="4" disabled value="{$aryear}">{$lang['year']}
				<input type="text" name="areamonth" size="2" disabled value="{$armonth}">{$lang['month']}
				<input type="text" name="areaday" size="2" disabled value="{$arday}">{$lang['day']}
				<input type="text" name="areahour" size="2" disabled value="{$arhour}">{$lang['hour']}
				<input type="text" name="areamin" size="2" disabled value="{$armin}">{$lang['min']}
			</td>
			<td><input type="submit" value="INSTANT ADD" onclick="$('command').value='areaadd'"></td>
		</tr>
		<tr>
			<td>Remove all Restricted Area</td>
			<td>
				<input type="radio" name="ihack" value="1" <!--{if $hack}-->checked<!--{/if}-->>是&nbsp;&nbsp;&nbsp;<input type="radio" name="ihack" value="0" <!--{if !$hack}-->checked<!--{/if}-->>否
			</td>
			<td><input type="submit" value="CHANGE" onclick="$('command').value='hackedit'"></td>
		</tr>
	</table>
</form> 