<TABLE border="1">
	<tr align="center" class="b1">
		<td class="b1"><span>NAMEID</span></td>
		<td width="140" class="b1"><span>Avatar</span></td>
		<td class="b1"><span>LVL</span></td>
		<td class="b1"><span>Kills</span></td>
		<td class="b1"><span>Coins</span></td>
		<td class="b1"><span>APM</span></td>
		<!--{if $gamestate < 40 }--><td class="b1"><span>Team</span></td><!--{/if}-->
		<td width="300" class="b1"><span>Comment</span></td>
		<td class="b1"><span>Win Ratio</span></td>
		<!--{if $gamblingon }--><td class="b1"><span>Sponsers</span></td>
		<td class="b1"><span>Golds Betted</span></td><!--{/if}-->
	</tr>

	<!--{loop $alivedata $alive}-->

	<tr class="b3">
		<td align="center" class="b3"><span><u><a href="user_profile.php?playerID=$alive['name']">$alive['name']</a></u><br>$sexinfo[$alive['gd']] $alive['sNo'] </span></td>
		<td align="center" class="b3"><span><IMG src="img/$alive['iconImg']" width="140" height="80" border="0" align="absmiddle"></span></td>
		<td class="b3"><span>$alive['lvl']</span></td>
		<td class="b3"><span>$alive['killnum']</span></td>
		<td class="b3"><span>$alive['money']</span></td>
		<td class="b3"><span>$alive['apm']</span></td>
		<!--{if $gamestate < 40 }--><td class="b3"><span><!--{if $alive['teamID']}-->$alive['teamID']<!--{else}-->NONE<!--{/if}--></span></td><!--{/if}-->
		<td class="b3"><span>$alive['motto']</span></td>
		<td class="b3"><span>$alive['winrate']</span></td>
		<!--{if $gamblingon }--><td class="b3"><span>$alive['gbnum']</span></td>
		<td class="b3"><span>$alive['gbsum']</span></td><!--{/if}-->
	</tr>

	<!--{/loop}-->

</table>
