<!--{loop $plsinfo $places $info}-->
	<!--{if (CURSCRIPT == 'game' && $sdata['pls']==$places)}-->
	<!--{eval $bgurl = "img/location/".$places.".jpg"}-->
	<style>
		body {background-image: url("$bgurl");background-position: center;}
	</style>
	<!--{/if}-->
<!--{/loop}-->
<TABLE border="0" width=720px height=430px align="center" cellspacing="0" cellpadding="0" class="battle">
	<tr>
		<td class="b8" valign="top" rowspan=2>
			<div style="position:relative;width:140px;height:340px;">
				<!--{if !empty($tdata['iconImgB'])}-->
				<IMG src="img/$tdata['iconImgB']" style="border:0;height:340px;position:absolute;left:0px;top:0px;<!--{if $tdata['hp']==0}-->filter: grayscale(100%)<!--{/if}-->" />
				<!--{else}-->
				<IMG src="img/$tdata['iconImg']" style="border:0;height:80px;<!--{if $tdata['hp']==0}-->filter: grayscale(100%)<!--{/if}-->" />
				<!--{/if}-->
			</div>
		</td>
		<td colspan=2 width=580px>
			<table border="0" cellspacing="0" height=75px width=580px cellpadding="0" width="100%" valign="middle">
				<tr>
					<td class="b1" colspan=2 height=20px><span>$tdata['lvlinfo']</span></td>											
					<td class="b1" colspan=2><span>$tdata['nameinfo']</span></td>											
					<td class="b1" colspan=2><span>{$tdata['typeinfo']}{$tdata['sNoinfo']}</span><!--{if $sdata['club']==19}--> 【<span class="lime">报应点数：<span id="anum">$tdata['rp']</span></span>】<!--{/if}--></td>											
				</tr>
				<tr>
					<td class="b2" width=70px height=20px><span>{lang rage}</span></td>
					<td class="b3" width=95px><span>$tdata['ragestate']</span></td>
					<td class="b2" width=70px><span>{lang sp}</span></td>
					<td class="b3" width=105px><span>$tdata['spstate']</span></td>
					<td class="b2" width=70px><span>{lang hp}</span></td>
					<td class="b3" width=170px><span>$tdata['hpstate']</span></td>
				</tr>
				<tr>
					<td class="b2" height=20px><span>{lang wep}{lang effect}</span></td>
					<td class="b3"><span>$tdata['wepestate']</span></td>
					<td class="b2"><span>{lang wep}{lang kind1}</span></td>
					<td class="b3"><span><!--{if $tdata['wepk'] != ''}-->$tdata['wepk_words']<!--{else}-->？？？<!--{/if}--></span></td>
					<td class="b2"><span>{lang wep}</span></td>
					<td class="b3"><span>$tdata['wep_words']</span></td>
				</tr>
				<tr>
					<td class="b2" height=20px><span>{lang tactic}</span></td>
					<td class="b3"><span>$tdata['tacinfo']</span></td>
					<td class="b2"><span>{lang pose}</span></td>
					<td class="b3"><span>$tdata['poseinfo']</span></td>
					<td height="20px" class="b2"><span>{lang inf}</span></td>
					<td class="b3"><span>$tdata['infdata']</span></td>
				</tr>
				<tr>
				<!--{if isset($sdata['clbpara']['battle_turns'])}-->
					<td class="b2" height=20px><span>战斗回合</span></td>
					<td class="b3"><span>{$sdata['clbpara']['battle_turns']}</span></td>
				<!--{else}-->
					<td height=20px></td>
					<td></td>
				<!--{/if}-->
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<TD class="b8" height=270px width=440px>
			<div style="position:relative;height:268px;width:438px;display: flex;align-items:center;justify-content: center;">
					<span><B><FONT color="#ff0000" size="5" face="黑体">$battle_title</FONT></B></span>
			</div>
		</TD>
		<td class="b8" width=140px rowspan="2" valign="bottom">
			<div style="position:relative;width:140px;height:350px;">
				<!--{if !empty($sdata['iconImgB'])}-->
					<IMG src="img/$sdata['iconImgB']" style="border:0;height:340px;position:absolute;left:0px;bottom:-10px;<!--{if $sdata['hp']==0}-->filter: grayscale(100%)<!--{/if}-->" />
				<!--{else}-->
					<IMG src="img/$sdata['iconImg']" style="border:0;height:80px;position:absolute;left:0;bottom:0;<!--{if $sdata['hp']==0}-->filter: grayscale(100%)<!--{/if}-->" />
				<!--{/if}-->
			</div>
		</td>
	</TR>
	<tr>
		<td colspan=2 width=580px>
			<table border="0" width=580px height=80px cellspacing="0" cellpadding="0" valign="middle">
				<tr>
					<td class="b1" colspan=2 height=20px><span>$typeinfo[$sdata['type']]({$sexinfo[$sdata['gd']]}{$sdata['sNo']}号)</span></td>
					<td class="b1" colspan=2><span>$sdata['name']</span></td>
					<td class="b1" colspan=2><span>Lv. $sdata['lvl']</span></td>
				</tr>
				<tr>
					<td class="b2" width=70px height=20px><span>{lang hp}</span></td>
					<td class="b3" width=170px><span><span class="$hpcolor">$sdata['hp'] / $sdata['mhp']</span></span></td>
					<td class="b2" width=70px><span>{lang sp}</span></td>
					<td class="b3" width=105px><span>$sdata['sp'] / $sdata['msp']</span></td>
					<td class="b2" width=70px><span>{lang rage}</span></td>
					<td class="b3" width=95px><span><!--{if $sdata['rage'] >=30}--><span class="yellow">$sdata['rage']</span><!--{else}-->$sdata['rage']<!--{/if}--></span></td>
				</tr>
				<tr>
					<td class="b2" height=20px><span>{lang wep}</span></td>
					<td class="b3"><span>$sdata['wep_words']</span></td>
					<td class="b2"><span>{lang wep}{lang kind1}</span></td>
					<td class="b3"><span>$sdata['wepk_words']</span></td>
					<td class="b2"><span>{lang wep}{lang effect}</span></td>
					<td class="b3"><span>$sdata['wepe']</span></td>
				</tr>
				<tr>
					<td class="b2" height=20px><span>{lang inf}</span></td>
					<td class="b3"><span>$sdata['infdata']</span></td>
					<td class="b2"><span>{lang pose}</span></td>
					<td class="b3"><span>$poseinfo[$sdata['pose']]</span></td>
					<td class="b2"><span>{lang tactic}</span></td>
					<td class="b3"><span>$tacinfo[$sdata['tactic']]</span></td>
				</tr>
			</table>
		</td>
	</tr>
</TABLE>
