<table border="0" width=720px height=380px cellspacing="0" cellpadding="0" valign="middle">
	<TR align="center" >
		<TD valign="middle" class="b5">
			<TABLE border="0" width=720px height=380px align="center" cellspacing="0" cellpadding="0" class="battle">
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td>
									<table border="0"  cellspacing="0" cellpadding="0" valign="top" width="100%">
										<tr>
											<td class="b1" colspan=2 height=20px><span>Lv. $w_lvl</span></td>											
											<td class="b1" colspan=2><span>$w_name</span></td>											
											<td class="b1" colspan=2><span>$w_sNoinfo</span><!--{if $club==19}--> 【<span class="lime">报应点数：<span id="anum">$w_rp</span></span>】<!--{/if}--></td>											
											<td class="b5" rowspan=4 width=140px colspan=1 height=80px><IMG src="img/$w_iconImg" height=80px border="0" align="middle" <!--{if $w_hp==0}-->style="filter:Xray()"<!--{/if}--> /></td>
										</tr>
										<tr>
											<td class="b2" width=75px height=20px><span>{lang rage}</span></td>
											<td class="b3" width=90px><span>$w_ragestate</span></td>
											<td class="b2" width=75px><span>{lang sp}</span></td>
											<td class="b3" width=90px><span>$w_spstate</span></td>
											<td class="b2" width=100px><span>{lang hp}</span></td>
											<td class="b3" width=145px><span>$w_hpstate</span></td>
										</tr>
										<tr>
											<td class="b2" height=20px><span>{lang wep}{lang effect}</span></td>
											<td class="b3"><span>$w_wepestate</span></td>
											<td class="b2"><span>{lang wep}{lang kind1}</span></td>
											<td class="b3"><span><!--{if $w_wepk != ''}-->$iteminfo[$w_wepk]<!--{else}-->？？？<!--{/if}--></span></td>
											<td class="b2"><span>{lang wep}</span></td>
											<td class="b3"><span>$w_wep</span></td>
										</tr>
										<tr>
											<td class="b2" height=20px><span>{lang tactic}</span></td>
											<td class="b3"><span><!--{if $w_tactic >= 0}-->$tacinfo[$w_tactic]<!--{else}-->？？？<!--{/if}--></span></td>
											<td class="b2"><span>{lang pose}</span></td>
											<td class="b3"><span><!--{if $w_pose >= 0}-->$poseinfo[$w_pose]<!--{else}-->？？？<!--{/if}--></span></td>
											<td class="b2"><span>{lang inf}</span></td>
											<td class="b3"><span><!--{if $w_infdata}-->$w_infdata<!--{else}-->无<!--{/if}--></span></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</TR>
				<tr>
					<TD class="b3" height="100%">
						<span><B><FONT color="#ff0000" size="5" face="黑体">$battle_title</FONT></B></span>
					</TD>
				</TR>
				<tr>
					<td>
						<table border="0" width=720px cellspacing="0" cellpadding="0" valign="middle">
							<tr>
								<td class="b5" rowspan=4 colspan=1 width=140px height=80px><IMG src="img/$iconImg" height=80px border="0" align="middle" <!--{if $hp==0}-->style="filter:Xray()"<!--{/if}--> /></td>
								<td class="b1" colspan=2 height=20px><span>$typeinfo[$type]({$sexinfo[$gd]}{$sNo}号)</span></td>
								<td class="b1" colspan=2><span>$name</span></td>
								<td class="b1" colspan=2><span>Lv. $lvl</span></td>
							</tr>
							<tr>
								<td class="b2" width=100px height=20px><span>{lang hp}</span></td>
								<td class="b3" width=145px><span><span class="$hpcolor">$hp / $mhp</span></span></td>
								<td class="b2" width=75px><span>{lang sp}</span></td>
								<td class="b3" width=90px><span>$sp / $msp</span></td>
								<td class="b2" width=75px><span>{lang rage}</span></td>
								<td class="b3" width=90px><span><!--{if $rage >=30}--><span class="yellow">$rage</span><!--{else}-->$rage<!--{/if}--></span></td>
							</tr>
							<tr>
								<td class="b2" height=20px><span>{lang wep}</span></td>
								<td class="b3"><span>$wep</span></td>
								<td class="b2"><span>{lang wep}{lang kind1}</span></td>
								<td class="b3"><span>$iteminfo[$wepk]</span></td>
								<td class="b2"><span>{lang wep}{lang effect}</span></td>
								<td class="b3"><span>$wepe</span></td>
							</tr>
							<tr>
								<td class="b2" height=20px><span>{lang inf}</span></td>
								<td class="b3">
									<span>
										<!--{if $inf}-->
											<!--{loop $infinfo $key $val}-->
												<!--{if strpos($inf,$key)!==false}-->
													$val
												<!--{/if}-->
											<!--{/loop}-->
										<!--{else}-->
										无
										<!--{/if}-->
									</span>
								</td>
								<td class="b2"><span>{lang pose}</span></td>
								<td class="b3"><span>$poseinfo[$pose]</span></td>
								<td class="b2"><span>{lang tactic}</span></td>
								<td class="b3"><span>$tacinfo[$tactic]</span></td>
							</tr>
						</table>
					</td>
				</tr>
			</TABLE>
		</TD>
	</TR>
</table>
