现在想要做什么？<br><br>
向对手大喊：<br><input size="30" type="text" name="message" maxlength="60"><br><br>
<input type="hidden" name="mode" value="revcombat">
<input type="hidden" id="command" name="command" value="back">
<!--{if $neut_flag}-->
    <div id="neut">  
        <input type="button" class="cmdbutton" style="width:100" name="w1" value="{$attinfo[$w1]}" onclick="showModalDialog($('attack_warning'));this.disabled=true;"><br>
    </div>
<!--{else}-->
    <div id="enemy">
        <input type="button" class="cmdbutton" style="width:100" name="w1" value="{$attinfo[$w1]}" onclick="$('command').value='$w1';postCmd('gamecmd','command.php');this.disabled=true;"><br>
        <!--{if $w2}-->
        <input type="button" class="cmdbutton" style="width:100" name="w2" value="{$attinfo[$w2]}" onclick="$('command').value='$w2';postCmd('gamecmd','command.php');this.disabled=true;"><br>
        <!--{/if}-->
    </div>
<!--{/if}-->
<br><input type="button" class="cmdbutton" name="back" value="逃跑" onclick="postCmd('gamecmd','command.php');this.disabled=true;"> 

<dialog id="attack_warning" style="max-width: 50%;max-height: 50%;">
    <center>
    <span class="red">警告：对方可能会被你激怒！真的要攻击吗？</span><br><br>
    <input type="button" class="cmdbutton" style="width:100" name="w1" value="先下手为强！" onclick="$('command').value='$w1';postCmd('gamecmd','command.php');this.disabled=true;"><br>
    </center>
<img class="dialog-background" src="img/profile.gif" onclick="closeDialog($('attack_warning'));postCmd('gamecmd','command.php');this.disabled=true;">
</dialog>
