<br>
<!--{eval $death_page_copy = function_exists('ruleset_death_page_copy_hook') ? ruleset_death_page_copy_hook($state) : NULL; $death_time_label = is_array($death_page_copy) && isset($death_page_copy['time_label']) ? $death_page_copy['time_label'] : '死亡时间'; $death_status_copy = is_array($death_page_copy) && isset($death_page_copy['status']) ? $death_page_copy['status'] : '你死了。'; $death_button_copy = is_array($death_page_copy) && isset($death_page_copy['button']) ? $death_page_copy['button'] : '我靠！';}-->
<div class="subtitle">$stateinfo[$state]</div>
<div>$dinfo[$state]</div>
<div>$death_time_label：$dtime</div>
<!--{if !empty($kname) && (in_array($state,Array(20,21,22,23,24,28,29)))}--><div>凶手：$kname</div><!--{/if}-->
<br>
<span class="dmg">$death_status_copy</span>
<br><br>
<!--{if !is_array($death_page_copy) && isset($weibolog) && strpos($gameurl,'dianbo')!==false}-->
<input type="button" value="我靠！怒电波之！" onclick="window.location.href='http://dianbo.me/index.php?app=home&mod=Widget&act=share&url=http%3A%2F%2Flg.dianbo.me%2F&title=%{$weibolog}%'">
<!--{else}-->
<input type="button" class="cmdbutton" value="$death_button_copy" disabled>
<!--{/if}-->
