你在你的小口袋里翻找起来……<br>
打算组合哪些元素？<br>

<input type="hidden" id="emax" name="emax" value="$emax">
<input type="hidden" name="mode" value="itemmain">
<input type="hidden" name="command" id="command" value="menu">
<br>
<!--元素选取模块-->
<!--{if $element0}-->
<input type="checkbox" id="emitm0" name="emitm0" value="-1"><a onclick="$('emitm0').click();" href="javascript:void(0);"> $elements_info[0] 放入：</a>
<input type="number" style="width:50px" name="emitm0_num" value="$element0" min="0" max="$element0" oninput="if(value>$element0)value=$element0;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<!--{if $element1}-->
<input type="checkbox" id="emitm1" name="emitm1" value="-1"><a onclick="$('emitm1').click();" href="javascript:void(0);"> $elements_info[1] 放入：</a>
<input type="number" style="width:50px" name="emitm1_num" value="$element1" min="0" max="$element1" oninput="if(value>$element1)value=$element1;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<!--{if $element2}-->
<input type="checkbox" id="emitm2" name="emitm2" value="-1"><a onclick="$('emitm2').click();" href="javascript:void(0);"> $elements_info[2] 放入：</a>
<input type="number" style="width:50px" name="emitm2_num" value="$element2" min="0" max="$element2" oninput="if(value>$element2)value=$element2;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<!--{if $element3}-->
<input type="checkbox" id="emitm3" name="emitm3" value="-1"><a onclick="$('emitm3').click();" href="javascript:void(0);"> $elements_info[3] 放入：</a>
<input type="number" style="width:50px" name="emitm3_num" value="$element3" min="0" max="$element3" oninput="if(value>$element3)value=$element3;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<!--{if $element4}-->
<input type="checkbox" id="emitm4" name="emitm4" value="-1"><a onclick="$('emitm4').click();" href="javascript:void(0);"> $elements_info[4] 放入：</a>
<input type="number" style="width:50px" name="emitm4_num" value="$element4" min="0" max="$element4" oninput="if(value>$element4)value=$element4;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<!--{if $element5}-->
<input type="checkbox" id="emitm5" name="emitm5" value="-1"><a onclick="$('emitm5').click();" href="javascript:void(0);"> $elements_info[5] 放入：</a>
<input type="number" style="width:50px" name="emitm5_num" value="$element5" min="0" max="$element5" oninput="if(value>$element5)value=$element5;if(value<0)value=0" /> 份<br>
<!--{/if}-->
<br>
<!--5级后解锁：效果、耐久比例调节-->
<!--{if $lvl>=5}-->
<span class="yellow">&nbsp;【调谐】：</span><br>
&nbsp; - 你能够干涉元素合成结果的<span class="lime b">效耐比率</span>。<br>
&nbsp; - 当前：效果占比<span class="yellow b">【<span id="s_emitme_r" name="s_emitme_r">55</span>%】</span>&nbsp;耐久占比<span class="yellow b">【<span id="s_emitms_r" name="s_emitms_r">45</span>%】</span><br>
<input type="range" class="range" style="width:220px" id="emitme_r" name="emitme_r" min="2" max="98" value="55" onclick="getEmitmeR(0)"><br>
<br>
<!--{/if}-->
<!--15级后解锁：最大生成效果调节-->
<!--{if $lvl>=15}-->
<span class="yellow">&nbsp;【节制】：</span><br>
&nbsp; - 你可以主动限制元素合成结果的<span class="lime b">效果上限</span>。<br>
&nbsp; - 当前：生成道具的效果上限<span class="yellow b">【<span id="s_emitme_max" name="s_emitme_max">$emax</span>】</span><br>
<input type="range" class="range" style="width:220px" id="emitme_max_r" name="emitme_max_r" min="1" max="100" value="100" onclick="getEmitmeR(1)"><br>
<br>
<!--{/if}-->
<input type="button" class="cmdbutton" name="submit" value="提交" onclick="$('command').value='elementmix';itemmixchooser($club);postCmd('gamecmd','command.php');this.disabled=true;">
<input type="button" class="cmdbutton" name="submit" value="放弃" onclick="postCmd('gamecmd','command.php');this.disabled=true;">