
<!--{if $gbnum}-->Current Gold Pool：{$gbpool}。<!--{else}-->There are no bets avaliable<!--{/if}-->Current Odds：{$nowodds}
<span class="yellow" id="gbinfo">
	$gbinfo
</span>
<!--{if $cuser && isset($credits2)}-->
	Your {lang credits2}：<span id="credits2" class="yellow">$credits2</span>
	<!--{if $gbact == 1}-->
	<input type="hidden" name="bet" value="{$gbudata['bid']}">
	
	<!--{else}-->
	Choose：
	<select name="bet">
		<option value="none">NO CHOICE
		<!--{loop $alivedata $alive}--><option value="{$alive['pid']}">{$alive['name']}<!--{/loop}-->
	</select>
	<!--{/if}-->
	
	
	Bet：<input type="text" name="wager" value="1" size="4" maxlength="6">	
	
	<input type="button" <!--{if $gbact == 1}-->value="ADD"<!--{else}-->value="DEAL"<!--{/if}--> onClick="$('gbmode').value='gamble';postCmd('alive','alive.php');">
<!--{/if}-->