<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv='expires' content='0'>
<title> {lang title} </title>
<!--{if isset($extrahead)}-->$extrahead<!--{/if}-->
<script async defer data-website-id="645ba563-c97e-4270-97af-d669335db957" src="https://tracker.dts.gay/umami.js"></script>
<!--{if $allowcsscache}--><link rel="stylesheet" type="text/css" id="css" href="gamedata/cache/style_20190718.css"><!--{else}--><style type="text/css" id="css">{template css}</style><!--{/if}-->
<script type="text/javascript" src="include/common.js"></script>
<script type="text/javascript" src="include/game20130526.js"></script>
<script type="text/javascript" src="include/json.js"></script>
<script type="text/javascript" src="include/pako.js"></script>
<!--{if (CURSCRIPT == 'game')}-->
<script type="text/javascript" src="include/record.js"></script>
<!--{/if}-->
<!--{loop $plsinfo $places $info}-->
	<!--{if (CURSCRIPT == 'game' && $sdata['pls']==$places)}-->
	<!--{eval $bgurl = "img/location/".$places.".jpg"}-->
	<style>
		body {background-image: url("$bgurl");background-position: center;}
	</style>
	<!--{/if}-->
<!--{/loop}-->
</head>
<BODY <!--{if CURSCRIPT == 'game' && $hotkeyon}-->onkeyup="hotkey(event);"<!--{/if}-->>
<div class="title" >{lang title}</div>
<div class="headerlink" >
<a href="index.php">>>{lang index}</a>
<!--{if isset($cuser) && isset($cpass)}--><a href="user_profile.php">>>{lang user}</a>
<!--{else}--><a href="register.php">>>{lang register}</a><!--{/if}-->
<a href="game.php">>>{lang game}</a>
<a href="map.php">>>{lang map}</a>
<a href="news.php">>>{lang news}</a>
<a href="alive.php">>>{lang alive}</a>
<a href="winner.php">>>{lang winner}</a>
<a href="rank.php">>>{lang rank}</a>
<a href="help.php">>>{lang help}</a>
<span class="drop"><a>>>{lang vnworld}
<div class="dropdown-menu">
  <ul>
    <li><a href="vnworld.php">>>空想梦境</a></li>
    <li><a href="">>>敬请期待</a></li>
    <li><a href="">>>敬请期待</a></li>
  </ul>
</div>
</a>
</span>
<!--{if (CURSCRIPT == 'game')}-->
<a href="javascript:void(0)" onclick="stopRecording()">>>停止录像</a>
<!--{/if}-->
<a href="record.php">>>回放录像</a>
<a href="admin.php">>>{lang admin}</a>
<a href="https://bbs.brdts.online/" target="_blank">>>{lang report}</a>
<a href="https://bbs.brdts.online/?thread-2.htm" target="_blank">>>{lang donate}</a>
</div>
<!-- <a href="$homepage" target="_blank">>>{lang homepage}</a> -->
<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0027_Simplified Chinese.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->
<div>
