{template header}
<table align="center" style="text-align:center;border:0;padding:0;">
	<tr>
		<td><span class="yellow">{lang gameversion}：</span></td>
		<td style="text-align:left;"><span class="evergreen">$gameversion</span></td>
		<td style="text-align:center;padding:0 0 0 25px;"><span class="yellow">{lang adminmsg}</span></td>
	</tr>
	<tr>
		<td><span class="yellow">{lang now}：</span></td>
		<td style="text-align:left;"><span class="evergreen">{lang gamedate}</span></td>
		<td rowspan="4" style="width:400px;vertical-align:top;text-align:left;padding:0 0 0 25px;"><span class="evergreen">$adminmsg</span></td>
	</tr>
	<tr>
		<td><span class="yellow">{lang systemmsg}：</span></td>
		<td style="text-align:left;"><span class="evergreen">$systemmsg</span></td>
	</tr>
	<tr>
		<td><span class="yellow">{lang gameinfo}：</span></td>
		<td style="text-align:left;"><span class="evergreen"><span class="evergreen2">{lang numinfo}{$gstate[$gamestate]}</span></span></td>
	</tr>
	<tr>
		<td colspan="2" style="vertical-align:top;">
			<div>
				<!--{if $gamestate > 10 }-->
				Round Running for  <span id="timing"></span><script type="text/javascript">updateTime($timing,1);</script><br> 
				<!--{if $hplayer}-->
				Current Highest Damage $hplayer ($hdamage)<br>
				<!--{/if}-->
				<!--{else}-->
					<!--{if $starttime > $now}-->
					Next Round Starts In  <span id="timing"></span><script type="text/javascript">updateTime($timing,0);</script>   <br>
					<!--{else}-->
					Next Round Starts In  <span id="timing"></span>UNDEFINED<br>
					<!--{/if}-->
					<!--{if $hplayer}-->
					Last Round Highest Damage $hplayer ($hdamage)<br>
					<!--{/if}-->
				<!--{/if}-->
				</div>
				<div>
				Last Round Result：<span id="lastwin">$gwin[$winmode]</span>
				<!--{if $winner}-->
				，Winner：<span id="lastwinner">$winner</span>
				<!--{/if}-->
				</div>
				
				Adding Restrict Areas in $areahour minutes ， After $arealimit times, entry would be locked.<br>
				Adding $areaadd of Areas ， Current number of Restrict Areas is $areanum<br>
				Auto Dodge Restriction：<!--{if $areaesc && $gamestate < 40}--><span class="yellow">ENABLED</span><!--{else}--><span class="red">DISABLED</span><!--{/if}--><br>
				<span class="red">NOTE: Auto Dodge function would be disabled when in Lock Mode</span><br><br>
				
				
				Players：<span id="alivenum">$validnum</span>
				Survivors：<span id="alivenum">$alivenum</span>
				Deaths：<span id="alivenum">$deathnum</span>
				<br />
				<!--{if $cuser}-->
				
				<br />{lang welcome}
				<form method="post" name="togame" action="game.php">
				<input type="hidden" name="mode" value="main">
				<input type="submit" name="enter" value="{lang enter}">
				</form>
				
				<form method="post" name="quitgame" action="game.php">
				<input type="hidden" name="mode" value="quit">
				<input type="submit" name="quit" value="{lang quit}">
				</form>
				
				<!--{else}-->
				<form method="post" name="login" action="login.php">
				<input type="hidden" name="mode" value="main">
				{lang username}<input type="text" name="username" size="20" maxlength="20" value="$cuser">
				{lang password}<input type="password" name="password" size="20" maxlength="20" value="$cpass">
				<input type="submit" name="enter" value="{lang login}">
				</form>
				<!--{/if}-->
				<span class="evergreen2">May the odds be ever in your favor.</span><br>
		</td>
	</tr>
</table>

{template footer}