You have found <span class="yellow">$itm0</span>，TYPE：{$itmk0_words}<!--{if ($itmsk0) && !is_numeric($itmsk0)}-->，Property：{$itmsk0_words}<!--{/if}-->，EFF：{$itme0}，DUR：{$itms0}。
<br>
<br>
What would you do?
<br>
<input type="hidden" id="mode" name="mode" value="itemmain">
<input type="hidden" id="command" name="command" value="itemget">
<input type="button" class="cmdbutton" name="itemget" value="PICK UP" onclick="postCmd('gamecmd','command.php');this.disabled=true;"><br><br>
<input type="button" class="cmdbutton" name="dropitm0" value="DISCARD" onclick="$('command').value='dropitm0';postCmd('gamecmd','command.php');this.disabled=true;">