你想丢掉什么？<br><br>
<input type="hidden" name="mode" value="itemmain">
<input type="radio" name="command" id="menu" value="menu" checked><a onclick=sl('menu'); href="javascript:void(0);" >返回</a>
<!--{if $club==20}-->
<input type="checkbox" id="split" onchange="if($('split').checked){$('zz').value='[Z]确定并提炼';for (var i=1; i<=6; i++){ $('itm' + i).value = $('itm' + i).value.replace('dropitm','split_itm');}}else{$('zz').value='[Z]确定并丢弃';for(var i=1; i<=6; i++){$('itm' + i).value = $('itm' + i).value.replace('split_itm','dropitm');}}"><a onclick=$('split').click(); href="javascript:void(0);" >提炼道具</a>
<!--{/if}-->
<br><br>
<!--{if $itms1}-->
<input type="radio" name="command" id="itm1" value="dropitm1"><a onclick=sl('itm1'); href="javascript:void(0);" >$itm1/$itme1/$itms1 </a><br>
<!--{/if}-->
<!--{if $itms2}-->
<input type="radio" name="command" id="itm2" value="dropitm2"><a onclick=sl('itm2'); href="javascript:void(0);" >$itm2/$itme2/$itms2 </a><br>
<!--{/if}-->
<!--{if $itms3}-->
<input type="radio" name="command" id="itm3" value="dropitm3"><a onclick=sl('itm3'); href="javascript:void(0);" >$itm3/$itme3/$itms3 </a><br>
<!--{/if}-->
<!--{if $itms4}-->
<input type="radio" name="command" id="itm4" value="dropitm4"><a onclick=sl('itm4'); href="javascript:void(0);" >$itm4/$itme4/$itms4 </a><br>
<!--{/if}-->
<!--{if $itms5}-->
<input type="radio" name="command" id="itm5" value="dropitm5"><a onclick=sl('itm5'); href="javascript:void(0);" >$itm5/$itme5/$itms5 </a><br>
<!--{/if}-->
<!--{if $itms6}-->
<input type="radio" name="command" id="itm6" value="dropitm6"><a onclick=sl('itm6'); href="javascript:void(0);" >$itm6/$itme6/$itms6 </a><br>
<!--{/if}-->
<br><br>
<input type="button" class="cmdbutton" id="zz" name="submit" value="[Z]确定并丢弃" onclick="postCmd('gamecmd','command.php');this.disabled=true;">