你打算怎么整理？<br>

<input type="hidden" name="mode" value="itemmain">
<input type="radio" name="command" id="menu" value="menu" checked><a onclick=sl('menu'); href="javascript:void(0);" >返回</a><br><br>

<!-- 合并道具 -->
<input type="radio" name="command" id="itemmerge" value="itemmerge"><a onclick=sl('itemmerge'); href="javascript:void(0);">合并道具</a>
<div style="padding: 5px;">
    <span class="grey">将两个可堆叠道具合并在一起。</span><br>
    <select name="merge1" onclick=sl('itemmerge'); href="javascript:void(0);">
    <option value="0">■ 道具一 ■<br />
    <!--{if $itms1}--><option value="1">$itm1/$itme1/$itms1<br /><!--{/if}-->
    <!--{if $itms2}--><option value="2">$itm2/$itme2/$itms2<br /><!--{/if}-->
    <!--{if $itms3}--><option value="3">$itm3/$itme3/$itms3<br /><!--{/if}-->
    <!--{if $itms4}--><option value="4">$itm4/$itme4/$itms4<br /><!--{/if}-->
    <!--{if $itms5}--><option value="5">$itm5/$itme5/$itms5<br /><!--{/if}-->
    <!--{if $itms6}--><option value="6">$itm6/$itme6/$itms6<br /><!--{/if}-->
    </select>
    <br><br>
    <select name="merge2" onclick=sl('itemmerge'); href="javascript:void(0);">
        <option value="0">■ 道具二 ■<br />
        <!--{if $itms1}--><option value="1">$itm1/$itme1/$itms1<br /><!--{/if}-->
        <!--{if $itms2}--><option value="2">$itm2/$itme2/$itms2<br /><!--{/if}-->
        <!--{if $itms3}--><option value="3">$itm3/$itme3/$itms3<br /><!--{/if}-->
        <!--{if $itms4}--><option value="4">$itm4/$itme4/$itms4<br /><!--{/if}-->
        <!--{if $itms5}--><option value="5">$itm5/$itme5/$itms5<br /><!--{/if}-->
        <!--{if $itms6}--><option value="6">$itm6/$itme6/$itms6<br /><!--{/if}-->
        </select>
</div>

<br>

<!-- 交换道具位置 -->
<input type="radio" name="command" id="itemmove" value="itemmove"><a onclick=sl('itemmove'); href="javascript:void(0);">移动道具</a>
<div style="padding: 5px;">
    <span class="grey">先选择要移位的道具，再选择要移动到的位置。</span><br>
    将：
    <select name="from" onclick=sl('itemmove'); href="javascript:void(0);">
    <option value="0">■ 道  具 ■
        <!--{if $itms1}--><option value="1">$itm1/$itme1/$itms1<!--{/if}-->
        <!--{if $itms2}--><option value="2">$itm2/$itme2/$itms2<!--{/if}-->
        <!--{if $itms3}--><option value="3">$itm3/$itme3/$itms3<!--{/if}-->
        <!--{if $itms4}--><option value="4">$itm4/$itme4/$itms4<!--{/if}-->
        <!--{if $itms5}--><option value="5">$itm5/$itme5/$itms5<!--{/if}-->
        <!--{if $itms6}--><option value="6">$itm6/$itme6/$itms6<!--{/if}-->
    </select>
    <br>
    移动至/与之交换：
    <select name="to" onclick=sl('itemmove'); href="javascript:void(0);">
    <option value="0">■ 位  置 ■
        <!--{if $itms1}--><option value="1">包裹1：$itm1/$itme1/$itms1<!--{else}--><option value="1">包裹1<!--{/if}-->
        <!--{if $itms2}--><option value="2">包裹2：$itm2/$itme2/$itms2<!--{else}--><option value="2">包裹2<!--{/if}-->
        <!--{if $itms3}--><option value="3">包裹3：$itm3/$itme3/$itms3<!--{else}--><option value="3">包裹3<!--{/if}-->
        <!--{if $itms4}--><option value="4">包裹4：$itm4/$itme4/$itms4<!--{else}--><option value="4">包裹4<!--{/if}-->
        <!--{if $itms5}--><option value="5">包裹5：$itm5/$itme5/$itms5<!--{else}--><option value="5">包裹5<!--{/if}-->
        <!--{if $itms6}--><option value="6">包裹6：$itm6/$itme6/$itms6<!--{else}--><option value="6">包裹6<!--{/if}-->
    </select>
</div>

<br>

<input type="button" class="cmdbutton" id="zz" name="submit" value="[Z]提交" onclick="postCmd('gamecmd','command.php');this.disabled=true;">