{template header}
<div id="notice"></div>
<div class="subtitle" >{lang news}</div>

<div align="left">
<div class="clearfix">
<span style="float:left;" ><img border="0" src="img/question.gif"></span>
<span>{lang newsnotice}</span>
</div>
<br>
<span class="evergreen">Current Time：{lang gamedate}</span><br />
<span class="evergreen">Current Weather：{$wthinfo[$weather]}</span><br />
<!--{if $gamestate==40}--><span class="yellow">Game in LOCKDOWN Mode!</span><br /><!--{/if}-->
<!--{if $gamestate==50}--><span class="red">Game in DUEL Mode!</span><br /><!--{/if}-->
<!--{if $hack}--><span class="evergreen">（LOCKDOWN OVERRIDED for 1 Cycle）</span><!--{/if}-->
{template areainfo}
<br><br>
<form method="post" name="news" onSubmit="return false;">
	<input type="hidden" id="newsmode" name="newsmode" value="last">
	<button onClick="$('newsmode').value='last';postCmd('news','news.php');">Display newest {$newslimit} news</button>
	<button onClick="$('newsmode').value='all';postCmd('news','news.php');">Display All News</button>
	<button onClick="$('newsmode').value='chat';postCmd('news','news.php');">Display All Chatlog</button>
</form>


<div id="newsinfo">
<!--{if $newsmode == 'all'}-->
{template newsinfo}
<!--{else}-->
{template lastnews}
<!--{/if}-->
</div>

</div>
<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>

{template footer}