<!--{loop $anpcinfo[$kind]['sub'] $key $value}-->
<!--{if isset($npcdescription[$kind]['sub'][$key]['description']) && is_numeric($key)}-->
<table border="1" cellspacing="0" cellpadding="0" valign="middle">
	<tr>
		<td>
			<table border="1" cellspacing="0" cellpadding="0" valign="middle">
				<tr>
					<td>
						<span class="icon">
							<IMG width=140px src="img/n_$anpcinfo[$kind]['sub'][$key]['icon'].gif" border="0" valign="middle"/>
							<!--{if file_exists('img/n_'.$anpcinfo[$kind]['sub'][$key]['icon'].'a.gif')}-->
								<div class="icona">
									<IMG class="aicon" width=140px src="img/n_$anpcinfo[$kind]['sub'][$key]['icon']a.gif">
								</div>
							<!--{/if}-->
						</span>
					</td>
					<td>
						<table border="1" height=100% width=100% cellspacing="0" cellpadding="0">
							<tr>
								<td width=100px align="center" class="b1">
									NPC类别
								</td>
								<td width=100px align="center" class="b3">
									$typeinfo[$kind]
								</td>
								<td width=100px align="center" class="b1">
									数目
								</td>
								<td width=100px align="center" class="b3">
									<!--{if $npcdescription[$kind]['sub'][$key]['count']>0}-->
										$npcdescription[$kind]['sub'][$key]['count']
									<!--{else}-->
										-
									<!--{/if}-->
								</td>
								<td width=100px align="center" class="b1">
									所处地点
								</td>
								<td width=100px align="center" class="b3">
									<span class="yellow">
									$anpcinfo[$kind]['sub'][$key]['pls']
									</span>
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									NPC等级
								</td>
								<td width=100px align="center" class="b3">
									<span>
									Lv. $anpcinfo[$kind]['sub'][$key]['lvl']
									</span>
								</td>
								<td width=100px align="center" class="b1">
									NPC名称
								</td>	
								<td width=100px align="center" class="b3">
									<span class="lime">
									$anpcinfo[$kind]['sub'][$key]['name']
									</span>
								</td>
								<td width=100px align="center" class="b1">
									性别
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['gd']
								</td>
							</tr>					
							<tr>
								<td width=100px align="center" class="b1">
									内定称号
								</td>					
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['club']
								</td>
								<td width=100px align="center" class="b1">
									{lang pose}
								</td>
								<td width=100px align="center" class="b3">
									$poseinfo[$anpcinfo[$kind]['sub'][$key]['pose']]
								</td>
								<td width=100px align="center" class="b1">
									{lang tactic}
								</td>
								<td width=100px align="center" class="b3">
									$tacinfo[$anpcinfo[$kind]['sub'][$key]['tactic']]
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									生命上限
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['mhp']
								</td>
								<td width=100px align="center" class="b1">
									熟练度
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['skill']
								</td>
								<td width=100px align="center" class="b1">
									怒气值
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['rage']
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									基础攻击
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['att']
								</td>
								<td width=100px align="center" class="b1">
									基础防御
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['def']
								</td>
								<td width=100px align="center" class="b1">
									掉落金钱
								</td>
								<td width=100px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['money']
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="1" cellspacing="0" cellpadding="0" valign="middle">
				<tr>
					<td width=140px>
						$npcdescription[$kind]['sub'][$key]['description']
					</td>
					<td>
						<table border="1" cellspacing="0" cellpadding="0" valign="middle">
							<tr>
								<td width=100px align="center" class="b1">
									武器名称
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['wep']/$anpcinfo[$kind]['sub'][$key]['wepk']/$anpcinfo[$kind]['sub'][$key]['wepe']/$anpcinfo[$kind]['sub'][$key]['weps']<!--{if isset($anpcinfo[$kind]['sub'][$key]['wepsk_words'])}-->/$anpcinfo[$kind]['sub'][$key]['wepsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									身体装备
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['arb']/$anpcinfo[$kind]['sub'][$key]['arbe']/$anpcinfo[$kind]['sub'][$key]['arbs']<!--{if isset($anpcinfo[$kind]['sub'][$key]['arbsk_words'])}-->/$anpcinfo[$kind]['sub'][$key]['arbsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									头部装备
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['arh']/$anpcinfo[$kind]['sub'][$key]['arhe']/$anpcinfo[$kind]['sub'][$key]['arhs']<!--{if isset($anpcinfo[$kind]['sub'][$key]['arhsk_words'])}-->/$anpcinfo[$kind]['sub'][$key]['arhsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									手臂装备
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['ara']/$anpcinfo[$kind]['sub'][$key]['arae']/$anpcinfo[$kind]['sub'][$key]['aras']<!--{if isset($anpcinfo[$kind]['sub'][$key]['arask_words'])}-->/$anpcinfo[$kind]['sub'][$key]['arask_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									腿部装备
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['arf']/$anpcinfo[$kind]['sub'][$key]['arfe']/$anpcinfo[$kind]['sub'][$key]['arfs']<!--{if isset($anpcinfo[$kind]['sub'][$key]['arfsk_words'])}-->/$anpcinfo[$kind]['sub'][$key]['arfsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									饰品 
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['art']/$anpcinfo[$kind]['sub'][$key]['artk']<!--{if isset($anpcinfo[$kind]['sub'][$key]['artsk_words'])}-->/$anpcinfo[$kind]['sub'][$key]['artsk_words']<!--{/if}-->
								</td>
							</tr>
							<!--{loop $itemlst $id $vid}-->
							<!--{if isset($anpcinfo[$kind]['sub'][$key]['itm'.$id])}-->
							<tr>
								<td width=100px align="center" class="b1">
									掉落物品
								</td>
								<td width=505px align="center" class="b3">
									$anpcinfo[$kind]['sub'][$key]['itm'.$id]/$anpcinfo[$kind]['sub'][$key]['itmk'.$id]/$anpcinfo[$kind]['sub'][$key]['itme'.$id]/$anpcinfo[$kind]['sub'][$key]['itms'.$id]<!--{if isset($anpcinfo[$kind]['sub'][$key]['itmsk'.$id.'_words'])}-->/$anpcinfo[$kind]['sub'][$key]['itmsk'.$id.'_words']<!--{/if}-->	
								</td>
							</tr>
							<!--{/if}-->
							<!--{/loop}-->
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<!--{/if}-->
<!--{/loop}-->
