<!--{if is_array($kind) }-->
	<!--{eval $ksub=$kind[1]; $kind=$kind[0];}-->
<!--{else}-->
	<!--{eval $ksub='sub';}-->
<!--{/if}-->
<!--{loop $npcinfo[$kind][$ksub] $key $value}-->
<!--{if isset($npcdescription[$kind]['sub'][$key]['description']) && (is_numeric($key) || $ksub == 'esub')}-->
<table border="1" cellspacing="0" cellpadding="0" valign="middle">
	<tr>
		<td>
			<table border="1" cellspacing="0" cellpadding="0" valign="middle">
				<tr>
					<td>
						<span class="icon">
							<IMG width=140px src="img/n_$npcinfo[$kind][$ksub][$key]['icon'].gif" border="0" valign="middle"/>
							<!--{if file_exists('img/n_'.$npcinfo[$kind][$ksub][$key]['icon'].'a.gif')}-->
								<div class="icona">
									<IMG class="aicon" width=140px src="img/n_$npcinfo[$kind][$ksub][$key]['icon']a.gif">
								</div>
							<!--{/if}-->
						</span>
					</td>
					<td>
						<table border="1" height=100% width=100% cellspacing="0" cellpadding="0">
							<tr>
								<td width=100px align="center" class="b1">
									NPC类别
								</td>
								<td width=100px align="center" class="b3">
									$typeinfo[$kind]
								</td>
								<td width=100px align="center" class="b1">
									数目
								</td>
								<td width=100px align="center" class="b3">
									<!--{if $npcdescription[$kind][$ksub][$key]['count']>0}-->
										$npcdescription[$kind][$ksub][$key]['count']
									<!--{else}-->
										-
									<!--{/if}-->
								</td>
								<td width=100px align="center" class="b1">
									所处地点
								</td>
								<td width=100px align="center" class="b3">
									<span class="yellow">
									$npcinfo[$kind][$ksub][$key]['pls']
									</span>
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									NPC等级
								</td>
								<td width=100px align="center" class="b3">
									<span>
									Lv. $npcinfo[$kind][$ksub][$key]['lvl']
									</span>
								</td>
								<td width=100px align="center" class="b1">
									NPC名称
								</td>	
								<td width=100px align="center" class="b3">
									<span class="lime">
									$npcinfo[$kind][$ksub][$key]['name']
									</span>
								</td>
								<td width=100px align="center" class="b1">
									性别
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['gd']
								</td>
							</tr>					
							<tr>
								<td width=100px align="center" class="b1">
									内定称号
								</td>					
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['club']
								</td>
								<td width=100px align="center" class="b1">
									{lang pose}
								</td>
								<td width=100px align="center" class="b3">
									$poseinfo[$npcinfo[$kind][$ksub][$key]['pose']]
								</td>
								<td width=100px align="center" class="b1">
									{lang tactic}
								</td>
								<td width=100px align="center" class="b3">
									$tacinfo[$npcinfo[$kind][$ksub][$key]['tactic']]
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									生命上限
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['mhp']
								</td>
								<td width=100px align="center" class="b1">
									熟练度
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['skill']
								</td>
								<td width=100px align="center" class="b1">
									怒气值
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['rage']
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									基础攻击
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['att']
								</td>
								<td width=100px align="center" class="b1">
									基础防御
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['def']
								</td>
								<td width=100px align="center" class="b1">
									掉落金钱
								</td>
								<td width=100px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['money']
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="1" cellspacing="0" cellpadding="0" valign="middle">
				<tr>
					<td width=140px>
						$npcdescription[$kind]['sub'][$key]['description']
					</td>
					<td>
						<table border="1" cellspacing="0" cellpadding="0" valign="middle">
							<tr>
								<td width=100px align="center" class="b1">
									武器名称
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['wep']/$npcinfo[$kind][$ksub][$key]['wepk']/$npcinfo[$kind][$ksub][$key]['wepe']/$npcinfo[$kind][$ksub][$key]['weps']<!--{if isset($npcinfo[$kind][$ksub][$key]['wepsk_words'])}-->/$npcinfo[$kind][$ksub][$key]['wepsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									身体装备
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['arb']/$npcinfo[$kind][$ksub][$key]['arbe']/$npcinfo[$kind][$ksub][$key]['arbs']<!--{if isset($npcinfo[$kind][$ksub][$key]['arbsk_words'])}-->/$npcinfo[$kind][$ksub][$key]['arbsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									头部装备
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['arh']/$npcinfo[$kind][$ksub][$key]['arhe']/$npcinfo[$kind][$ksub][$key]['arhs']<!--{if isset($npcinfo[$kind][$ksub][$key]['arhsk_words'])}-->/$npcinfo[$kind][$ksub][$key]['arhsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									手臂装备
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['ara']/$npcinfo[$kind][$ksub][$key]['arae']/$npcinfo[$kind][$ksub][$key]['aras']<!--{if isset($npcinfo[$kind][$ksub][$key]['arask_words'])}-->/$npcinfo[$kind][$ksub][$key]['arask_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									腿部装备
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['arf']/$npcinfo[$kind][$ksub][$key]['arfe']/$npcinfo[$kind][$ksub][$key]['arfs']<!--{if isset($npcinfo[$kind][$ksub][$key]['arfsk_words'])}-->/$npcinfo[$kind][$ksub][$key]['arfsk_words']<!--{/if}-->
								</td>
							</tr>
							<tr>
								<td width=100px align="center" class="b1">
									饰品 
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['art']/$npcinfo[$kind][$ksub][$key]['artk']<!--{if isset($npcinfo[$kind][$ksub][$key]['artsk_words'])}-->/$npcinfo[$kind][$ksub][$key]['artsk_words']<!--{/if}-->
								</td>
							</tr>
							<!--{loop $itemlst $id $vid}-->
							<!--{if isset($npcinfo[$kind][$ksub][$key]['itm'.$id])}-->
							<tr>
								<td width=100px align="center" class="b1">
									掉落物品
								</td>
								<td width=505px align="center" class="b3">
									$npcinfo[$kind][$ksub][$key]['itm'.$id]/$npcinfo[$kind][$ksub][$key]['itmk'.$id]/$npcinfo[$kind][$ksub][$key]['itme'.$id]/$npcinfo[$kind][$ksub][$key]['itms'.$id]<!--{if isset($npcinfo[$kind][$ksub][$key]['itmsk'.$id.'_words'])}-->/$npcinfo[$kind][$ksub][$key]['itmsk'.$id.'_words']<!--{/if}-->	
								</td>
							</tr>
							<!--{/if}-->
							<!--{/loop}-->
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<!--{/if}-->
<!--{/loop}-->
