<!--///////////////////////////////////////////////////-->
<!--////////////////////  标准模式  ////////////////////-->
<!--///////////////////////////////////////////////////-->
<!--{if 0==$gametype || 4==$gametype || 18==$gametype}-->
<div id="op_sht_endpage" class="shootings">7</div>
<div id="op_sht_0" class="shootings">
    虚拟幻境会场一如既往地挤满了人，<br>
    你不禁有些恍惚。<br>
    这一切和数年前那些带 VR 游戏的动漫祭的规模不可同日而语。<br>
    <br>
    不得不说，<br>
    <span class="b">「林氏软件公司」</span>能成为这个国家首屈一指的电子娱乐提供者，不是没有理由的。<br>
    哪怕是最近登上报纸头条的巨变——公司老总<span class="b">「林无月」</span>突然暴死，<br>
    也未对眼下的盛况造成任何影响。<br>
    不仅如此，作为林氏软件的旗舰游戏产品之一，<span class="b">「D.T.S.」</span>反而变得更为红火起来。<br>
    <br>
    对于这款游戏，包括你在内的玩家们，更习惯称之为<span class="b">「大逃杀」</span>。<br>
    只要坐进像驾驶舱一样的终端，就能进入名为<span class="b">「虚拟幻境」</span>的 VR 世界，<br>
    以成为<span class="b">「最后的幸存者」</span>为目标，体验一场场紧张刺激的战斗。<br>
</div>
<div id="op_sht_1" class="shootings">
    <span class="b">「虚拟幻境」</span>是一个光怪陆离的世界，<br>
    大量流行在上世纪八九十年代的亚文化内容，构成了这奇特世界的主体——<br>
    不对，与其说是那样，<br>
    不如说「幻境」是在用几十年前的视角，重绘了现在的景象，<br>
    也就是所谓的<span class="b">「复古未来」</span>。<br>
    <br>
    这源于<span class="b">林无月</span>个人喜好的设计，却意外收获了不少亚文化死忠的拥簇——<br>
    于他们而言，这种「脱节感」，恰恰是这个游戏的醍醐味所在。<br>
    <br>
    不过，针对这个游戏，也传出过一些不和谐的声音。<br>
    你记得曾有人在网上发帖，讲述自己有个朋友因为玩这个游戏烧坏了脑子云云，<br>
    但那帖子很快就被<span class="grey" style="font-size: 2px;">“看饿了&nbsp;&nbsp;有没有七分熟&nbsp;&nbsp;用文火”</span>之类的评论淹没了。<br>
    对于类似的传言，林氏软件甚至懒得回应。<br>
    <br>
    想到这里，你又回头看了看那位引导你入场、穿着搭配很上世纪辣妹风的工作人员。<br>
    那位工作人员注意到了你的视线，向你走来。<br>
</div>
<div id="op_sht_2" class="shootings">
    <table class="dialog-box" style="width: fit-content;">
        <tr>
            <td>
                <img src="./img/story_0.gif">
            </td>
            <td class="ach-cont" style="border: 1px; width:280px;height:80px;text-align: left; padding: 3% 6%;">
                “这位亲！还有什么需要帮助的吗？”<br>
            </td>
        </tr>
    </table>
</div>
<div id="op_sht_3" class="shootings">
    你听着她用明显装出来的辣妹语气向你搭话，脑子开始乱转。<br>
    <br>
    这游戏明明这么热门，但你看见的工作人员却只有这位“辣妹”一个。<br>
    她一个人忙得过来吗……？<br>
    稍微想了想，你决定装成老油条的样子来给她加点工作负担。<br>
    <br>
    <br>
    <a class="grey" onclick="">【最近有什么好玩的事情吗？】</a><br>
    <a class="grey">【你对「种火」的都市传说有什么看法？】</a><br>
    <a class="grey">【「红杀」和「时空特使」啥的真的存在吗？】</a><br>
    <br>
</div>
<div id="op_sht_4" class="shootings">
    “没让你自己冲锋，笨蛋！”你一面暗暗叫苦，一面努力在逃散的人群中挤开一条路。<br>
    “计划彻底乱了，”有其他潜伏者向你发来消息，“这下只能随机应变了。”<br>
    <br>
    还没等林苍月继续犯傻，舞台上又出现了三个来者不善的身影。<br>
    <span class="clan">“电击使 御坂 美琴。”</span><br>
    <span class="yellow">“班主任 坂持 金发。”</span><br>
    <span class="lime">“四季花之主 风见 幽香。”</span><br>
    <span class="yellow"> “金龙通讯社执行官三人组，特此前来维护会场秩序！”</span><br>
    <br>
    <img border="0" src="./img/story/story_n4.jpg" style="height:86px;"><br>
    <br>
    三人自报了姓名之后，摆开架势将林苍月围在中间。<br>
    <span class="seagreen">“你们金龙通讯社的兴趣还挺重口味的。”</span>林苍月皱着眉头。
</div>
<div id="op_sht_5" class="shootings">
    不能再等了。<br>
    <br>
    你召唤出“开关”，用力按了下去。<br>
    <span class="red">“警告：中枢程序区域侦测到不明代码。”</span><br>
    冰冷而刺耳的警告声让执行官们一时间不知所措。<br>
    <span class="seagreen">“哼，三十六计走为上！”</span><br>
    明亮的登出光圈包裹了林苍月。这个没脑子的家伙反应倒挺快。<br>
    <span class="ltcrimson">“想跑？”</span>红暮的声音再度传来，<span class="ltcrimson b">“‘大逃杀’强行启动！”</span><br>
    <br>
    各式各样的警告信息瞬间把虚拟会场淹没了。<br>
    <span class="red">“警告：侦测到非法的道具数据：提示纸条A、提示纸条B……”<br>
    “警告：无月之影BOSS数据缺失。”<br>
    “警告：键刃墓场BOSS数据缺失。”<br>
    “警告：干扰迎击系统运转不正常。”<br>
    “警告：核心程序有实体化的趋势，压制中。”<br>
    “警告：参战者精神状况监视程序无法运行。”……</span><br>
    <br>
    <span class="ltcrimson">“……没办法了，缺失的位置就只能由我和——嘛，就由我顶上吧。其他的交给……处理。”</span><br>
</div>
<div id="op_sht_6" class="shootings">
    <span class="seagreen">“没想到吧！”</span>熊孩子竟然还隔空斗嘴，<span class="seagreen">“我们事先注入了病毒，虚拟幻境已经千疮百孔！”</span><br>
    <span class="ltcrimson">“你以为，我想要截住的是你吗？”</span>红暮不怀好意地笑着。<br>
    <br>
    “没法登出了！”	“真要在这个情况下进行大逃杀吗？！”<br>
    你身旁的挑战者们惊慌地喊道。<br>
    虽然已有许多人跑路成功，但是没登出的挑战者还有一大堆。<br>
    真是一团糟，这样就没法救到全部人了啊！<br>
    <span class="ltcrimson">“我想要截住的……”</span>红暮扭头望向这里，对上了你的目光。<br>
    你感到一丝惶恐。难道，潜伏的我们也已经被发现了？<br>
    <br>
    <img border="0" src="./img/story/story_n7.jpg" style="width:450px;"><br>
    <br>
    <span class="ltcrimson">“是你们。”</span>红暮伸手一握，你的视野被传送光圈吞没了。
</div>
<div id="op_sht_7" class="shootings">
    <span class="evergreen">“在座各位的精神已经被锁定了。如果妄图强行退出，意识就会被消灭……”</span><br>
    虚拟传送每次都让你你头昏脑涨。<br>
    <br>
    <span class="evergreen">“杀掉所有的人，只剩下你自己……”</span><br>
    耳边隐隐约约传来不知何年何月的“大逃杀”揭幕词。<br>
    <br>
    <span class="evergreen">“这个世界不需要平庸的凡人，只需要有力量的强者！”</span><br>
    何等的奇谈怪论。<br>
    <br>
    <span class="evergreen">“注意时间，不要在禁区滞留。失去每一位可能的获胜者都是我们的损失……”</span><br>
    这个情景似曾相识得让你不安。<br>
    <br>
    <span class="evergreen">“记住，装备很重要，但也不是最重要的。你的实力才是决定你命运的关键。”</span><br>
    我，还有翻盘的机会吗……？<br>
    <br>
    <br>
    <span class="red">■ LIFE GAME ■</span><br>
    <span id="br" class="red b" style="font-weight:700;font-size:20pt;line-height:20pt;">大 逃 杀</span><br>
    <br>
    <br>
    <span class="ltcrimson">“祝你们好运。你们的实力……我可是很感兴趣呢。”</span>
</div>
<!--{else}-->
<div id="op_sht_endpage" style="display: none;">0</div>
<div id="op_sht_0" class="shootings">
	咦？剧情可能被冴冴吃掉了。<br>
	这应该是一个BUG，请联系管理员。
</div>
<!--{/if}-->