<!--{loop $plsinfo $places $info}-->
	<!--{if (CURSCRIPT == 'game' && $pls==$places)}-->
	<!--{eval $bgurl = "img/location/".$places.".jpg"}-->
	<style>
		body {background-image: url("$bgurl");background-position: center;}
	</style>
	<!--{/if}-->
<!--{/loop}-->
<table border="0" width="720" height="100%" cellspacing="0" cellpadding="0"  valign="middle">
	<tr>
		<td>
			<table border="0" width="720" cellspacing="0" cellpadding="0"  valign="middle">
				<tr>
					<!--{eval $nickinfo = get_title_desc($nick);}-->
					<td width="210" colspan="3" class="b1"><span>{$nickinfo} {$name}</span></td>
					<td width="100" colspan="1" class="b1"><span>{$sexinfo[$gd]}{$sNo}号</span></td>
					<td width="95" colspan="2" class="b1"><span>{lang weather}:$wthinfo[$weather]</span></td>
					<td width="215" colspan="1" class="b1"><span>{lang gamedate}<!--{if $gamestate == 40 }--><span class="yellow">{lang combo}</span><!--{/if}--><!--{if $gamestate == 50 }--><span class="red">{lang duel}</span><!--{/if}--></span></td>
				</tr>
				<tr>
					<td rowspan="4" colspan="2" width="150" height="80" class="b3">
							<img src="img/$iconImg" border="0" style="width:140;height:80" <!--{if $hp==0}-->style="filter:Xray()"<!--{/if}--> />
					</td>
					<td width="70" class="b2"><span>{lang level}</span></td>
					<td width="120" class="b3"><span>Lv. $lvl</span></td>
					<td width="60" class="b2"><span><!--{if $wp >= 100}-->{lang wp}{lang skill}<!--{else}--><span class="grey">{lang wp}{lang skill}</span><!--{/if}--></span></td>
					<td width="80" class="b3"><span>$wp</span></td>
					<td rowspan="9" width="215" height="160" class="b3">
						<div>
							<table border="0" width=215px height=160px cellspacing="0" cellpadding="0" style="position:relative">
								<tr height=160px>
									<td width=160px background="img/state1.gif" style="position:relative;background-repeat:no-repeat;background-position:right top;">
										<div style="border:0; margin:0; cellspacing:0; cellpadding:0; position:absolute;z-index:10;top:0;left:0;">
											<img id="injuerd" <!--{if strpos($inf,'h') !== false || strpos($inf,'b') !== false ||strpos($inf,'a') !== false ||strpos($inf,'f') !== false}-->src="img/injured.gif"<!--{else}-->src="img/injured2.gif"<!--{/if}--> style="position:absolute;top:0;left:10;width:84;height:20;">
											<img id="poisoned" <!--{if strpos($inf,'p') !== false}--><!--{if $club==16 && CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infp';postCmd('gamecmd','command.php');return false;" <!--{/if}-->src="img/p.gif"<!--{else}-->src="img/p2.gif"<!--{/if}--> style="position:absolute;top:20;left:4;width:98;height:20;">
											<img id="burned" <!--{if strpos($inf,'u') !== false}--><!--{if $club==16 && CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infu';postCmd('gamecmd','command.php');return false;" <!--{/if}-->src="img/u.gif"<!--{else}-->src="img/u2.gif"<!--{/if}--> style="position:absolute;top:40;left:11;width:81;height:20;">
											<img id="frozen" <!--{if strpos($inf,'i') !== false}--><!--{if $club==16 && CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infi';postCmd('gamecmd','command.php');return false;" <!--{/if}-->src="img/i.gif"<!--{else}-->src="img/i2.gif"<!--{/if}--> style="position:absolute;top:60;left:13;width:77;height:20;">
											<img id="paralysed" <!--{if strpos($inf,'e') !== false}--><!--{if $club==16 && CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infe';postCmd('gamecmd','command.php');return false;" <!--{/if}-->src="img/e.gif"<!--{else}-->src="img/e2.gif"<!--{/if}--> style="position:absolute;top:80;left:2;width:101;height:20;">
											<img id="confused" <!--{if strpos($inf,'w') !== false}--><!--{if $club==16 && CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infw';postCmd('gamecmd','command.php');return false;" <!--{/if}-->src="img/w.gif"<!--{else}-->src="img/w2.gif"<!--{/if}--> style="position:absolute;top:100;left:3;width:100;height:20;">
											<!--{if strpos($inf,'h') !== false}--><img src="img/hurt.gif" style="position:absolute;top:0;left:121;width:37;height:37;" <!--{if CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infh';postCmd('gamecmd','command.php');return false;"<!--{/if}-->><!--{/if}-->
											<!--{if strpos($inf,'b') !== false}--><img src="img/hurt.gif" style="position:absolute;top:43;left:121;width:37;height:37;" <!--{if CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infb';postCmd('gamecmd','command.php');return false;"<!--{/if}-->><!--{/if}-->
											<!--{if strpos($inf,'a') !== false}--><img src="img/hurt.gif" style="position:absolute;top:17;left:102;width:37;height:37;" <!--{if CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='infa';postCmd('gamecmd','command.php');return false;"<!--{/if}-->><!--{/if}-->
											<!--{if strpos($inf,'f') !== false}--><img src="img/hurt.gif" style="position:absolute;top:111;left:121;width:37;height:37;" <!--{if CURSCRIPT == 'game' && $mode == 'command'}-->onclick="$('mode').value='special';$('command').value='inff';postCmd('gamecmd','command.php');return false;"<!--{/if}-->><!--{/if}-->
											<!--{if $hp <= 0}-->
											<img src="img/dead.gif" style="position:absolute;top:120;left:6;width:94;height:40">
											<!--{elseif $hp <= $mhp*0.2}-->
											<img src="img/danger.gif" style="position:absolute;top:120;left:5;width:95;height:37">
											<!--{elseif $hp <= $mhp*0.5 || $inf!=''}-->
											<img src="img/caution.gif" style="position:absolute;top:120;left:5;width:95;height:36">
											<!--{elseif !$inf}-->
											<img src="img/fine.gif" style="position:absolute;top:120;left:12;width:81;height:38">
											<!--{/if}-->
										</div>
										<div style="border:0; margin:0; cellspacing:0; cellpadding:0; position:absolute;top:0px;left:105px;z-index:1;">
											$newspimg
										</div>
									</td>
									<td width=55px background="img/state2.gif" style="position:relative;background-repeat:no-repeat;background-position:left top;">
										<div style="border:0; margin:0; cellspacing:0; cellpadding:0; position:absolute;top:0px;right:55px;z-index:1;">
											$newhpimg
										</div>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td class="b2"><span>{lang exp}</span></td>
					<td class="b3"><span>$exp / $upexp</span></td>
					<td class="b2"><span><!--{if $wk >= 100}-->{lang wk}{lang skill}<!--{else}--><span class="grey">{lang wk}{lang skill}</span><!--{/if}--></span></td>
					<td class="b3"><span>$wk</span></td>
				</tr>
				<tr>
					<td class="b2"><span>{lang team}</span></td>
					<td class="b3"><span><!--{if $teamID && $gamestate < 40 }-->$teamID<!--{else}--> 无 <!--{/if}--></span></td>
					<td class="b2"><span><!--{if $wg >= 100}-->{lang wg}{lang skill}<!--{else}--><span class="grey">{lang wg}{lang skill}</span><!--{/if}--></span></td>
					<td class="b3"><span>$wg</span></td>
				</tr>
				<tr>
					<td class="b2"><span>{lang club}</span></td>
					<td class="b3"><span>
					<!--{if $club!=0}-->
						$clubinfo[$club]
					<!--{else}-->
						<select id="clubsel" name="clubsel" onchange="$('mode').value='special';$('command').value=$('clubsel').value;postCmd('gamecmd','command.php');return false;" <!--{if CURSCRIPT != 'game' || $mode != 'command'}-->disabled<!--{/if}-->>
							<!--{loop $clubavl $key $value}-->
								<option value="clubsel$key"<!--{if $club == $key}-->selected<!--{/if}-->>$clubinfo[$value]
							<!--{/loop}-->
						</select>
					<!--{/if}-->
					</span></td>
					<td class="b2"><span><!--{if $wc >= 100}-->{lang wc}{lang skill}<!--{else}--><span class="grey">{lang wc}{lang skill}</span><!--{/if}--></span></td>
					<td class="b3"><span>$wc</span></td>
				</tr>
				<tr>
					<td width="70" class="b2"><span>{lang att}</span></td>
					<td width="80" class="b3"><span>$atkinfo</span></td>
					<td class="b2"><span>{lang money}</span></td>
					<td class="b3"><span>$money {lang moneyunit}</span></td>
					<td class="b2"><span><!--{if $wd >= 100}-->{lang wd}{lang skill}<!--{else}--><span class="grey">{lang wd}{lang skill}</span><!--{/if}--></span></td>
					<td class="b3"><span>$wd</span></td>
				</tr>
				<tr>
					<td class="b2"><span>{lang def}</span></td>
					<td class="b3"><span>$definfo</span></td>
					<td class="b2"><span>{lang inf}</span></td>
					<td class="b3">
						<span>
							<!--{if $inf}-->
								<!--{loop $infinfo $key $val}-->
									<!--{if strpos($inf,$key)!==false}-->
										$val
									<!--{/if}-->
								<!--{/loop}-->
							<!--{else}-->
							无
							<!--{/if}-->
						</span>
					</td>
					<td class="b2"><span><!--{if $wf >= 100}-->{lang wf}{lang skill}<!--{else}--><span class="grey">{lang wf}{lang skill}</span><!--{/if}--></span></td>
					<td class="b3"><span>$wf</span></td>
				</tr>
				<tr>
					<td class="b2"><span>{lang pose}</span></td>
					<td class="b3">
						<span>
							<select id="pose" name="pose" onchange="$('mode').value='special';$('command').value=$('pose').value;postCmd('gamecmd','command.php');return false;" <!--{if CURSCRIPT != 'game' || $mode != 'command'}-->disabled<!--{/if}-->>
								<!--{loop $apose $key}-->
									<option value="pose$key"<!--{if $pose == $key}-->selected<!--{/if}-->>$poseinfo[$key]
								<!--{/loop}-->
							</select>
						</span>
					</td>
					<td class="b2"><span>{lang sp}</span></td>
					<td class="b3"><span><span class="<!--{if $sp <= $msp*0.2}-->grey<!--{elseif $sp <= $msp*0.5}-->yellow<!--{else}-->clan<!--{/if}-->">$sp / $msp</span></span></td>
					<td class="b2"><span>{lang rage}</span></td>
					<td class="b3"><span><!--{if $rage >= 30}--><span class="yellow">$rage</span><!--{else}-->$rage<!--{/if}--></span></td>
				</tr>
				<tr>
					<td class="b2"><span>{lang tactic}</span></td>
					<td class="b3">
						<span>
							<select id="tactic" name="tactic" onchange="$('mode').value='special';$('command').value=$('tactic').value;postCmd('gamecmd','command.php');return false;" <!--{if CURSCRIPT != 'game' || $mode != 'command'}-->disabled<!--{/if}-->>
								<!--{loop $atac $key}-->
									<option value="tac$key"<!--{if $tactic == $key}-->selected<!--{/if}-->>$tacinfo[$key]
								<!--{/loop}-->
							</select>
						</span>
					</td>
					<td class="b2"><span>{lang hp}</span></td>
					<td class="b3"><span><span class="<!--{if $hp <= $mhp*0.2}-->red<!--{elseif $hp <= $mhp*0.5}-->yellow<!--{else}-->clan<!--{/if}-->">$hp / $mhp</span></span></td>
					<td class="b2"><span>{lang skillpoint}</span></td>
					<td class="b3"><!--{if $skillpoint > 0}--><span class="lime">$skillpoint</span><!--{else}--><span>$skillpoint</span><!--{/if}--></td>
				</tr>
				<tr>
					<td class="b2">游戏版本</td>
					<td class="b3">
						「GE962」</td>
					<td class="b2"><span>{lang ss}</span></td>
					<td class="b3"><span class="<!--{if $ss <= $mss*0.2}-->red<!--{elseif $ss <= $mss*0.5}-->yellow<!--{else}-->clan<!--{/if}-->">$ss / $mss</span></td>
					<td class="b2"><span>{lang killnum}</span></td>
					<td class="b3"><span>$killnum</span></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="10" class="b5"></td>
	</tr>
	<tr>
		<td>
  		<TABLE border="0" cellSpacing=0 cellPadding=0 height=140 width=720>
  			<tr>
      		<td>
		      	<TABLE border="0" cellSpacing=0 cellPadding=0 height=100% width=100%>
  						<TR>
          			<TD class=b1 width="60"><span>装备种类</span></TD>
          			<TD class=b1><span>名称</span></TD>
          			<TD class=b1 width="70"><span>属性</span></TD>
          			<TD class=b1 width="40"><span>效</span></TD>
          			<TD class=b1 width="40"><span>耐</span></TD>
          		</tr>
          		<tr>
    						<TD class=b2 height="26"><span><!--{if $wepk_words}-->$wepk_words<!--{else}-->$mltwk<!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $wepe}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offwep';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $weps}-->$wep_words<!--{else}-->$nowep<!--{/if}--></span>
					<span class="eicon" onclick="$('mode').value='itemmain';$('command').value='changewep';postCmd('gamecmd','command.php');return false;">🔃</span>
                </TD>
                <TD class=b3><span>$wepsk_words</span></TD>
                <TD class=b3><span>$wepe</span></TD>
                <TD class=b3><span>$weps</span></TD>
		          </tr>
		          <tr>
    	          <TD class=b2 height="26"><span><!--{if $arbs}-->$iteminfo['DB']<!--{else}--><span class="grey">$iteminfo['DB']</span><!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $arbe}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offarb';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $arbs}-->$arb_words<!--{else}-->$noarb<!--{/if}--></span>
                </TD>
                <TD class=b3><span>$arbsk_words</span></TD>
                <TD class=b3><span>$arbe</span></TD>
                <TD class=b3><span>$arbs</span></TD>
		          </tr>
		          <tr>
    						<TD class=b2 height="26"><span><!--{if $arhs}-->$iteminfo['DH']<!--{else}--><span class="grey">$iteminfo['DH']</span><!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $arhs}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offarh';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $arhs}-->$arh_words<!--{else}-->$noitm<!--{/if}--></span>
                </TD>
                <TD class=b3><span>$arhsk_words</span></TD>
                <TD class=b3><span>$arhe</span></TD>
                <TD class=b3><span>$arhs</span></TD>
		          </tr>
		          <tr>
    			  		<TD class=b2 height="26"><span><!--{if $aras}-->$iteminfo['DA']<!--{else}--><span class="grey">$iteminfo['DA']</span><!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $aras}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offara';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $aras}-->$ara_words<!--{else}-->$noitm<!--{/if}--></span>
                </TD>
                <TD class=b3><span>$arask_words</span></TD>
                <TD class=b3><span>$arae</span></TD>
                <TD class=b3><span>$aras</span></TD>
		          </tr>
		          <tr>
    						<TD class=b2 height="26"><span><!--{if $arfs}-->$iteminfo['DF']<!--{else}--><span class="grey">$iteminfo['DF']</span><!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $arfs}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offarf';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $arfs}-->$arf_words<!--{else}-->$noitm<!--{/if}--></span>
                </TD>
                <TD class=b3><span>$arfsk_words</span></TD>
                <TD class=b3><span>$arfe</span></TD>
                <TD class=b3><span>$arfs</span></TD>
		          </tr>
		          <tr>
    						<TD class=b2 height="26"><span><!--{if $arts}-->$artk_words<!--{else}--><span class="grey">$iteminfo['A']</span><!--{/if}--></span></TD>
                <TD class=b3>
                	<!--{if CURSCRIPT == 'game' && $mode == 'command' && $arts}--><span><input type="button" value="卸下" onclick="$('mode').value='itemmain';$('command').value='offart';postCmd('gamecmd','command.php');return false;"</span><!--{/if}-->
                	<span><!--{if $arts}-->$art_words<!--{else}-->$noitm<!--{/if}--></span>
                </TD>
                <TD class=b3><span>$artsk_words</span></TD>
                <TD class=b3><span>$arte</span></TD>
                <TD class=b3><span>$arts</span></TD>
          		</tr>
        		</table>
					</td>
					<td>
  					<TABLE border="0" cellSpacing=0 cellPadding=0 height=100% width=100%>
		      		<tr>
								<TD class=b1 width="60"><span>道具用途</span></TD>
								<TD class=b1><span>名称</span></TD>
								<TD class=b1 width="70"><span>属性</span></TD>
								<TD class=b1 width="40"><span>效</span></TD>
								<TD class=b1 width="40"><span>耐</span></TD>
							</TR>
							<tr>          			  
								<TD class=b2 height="26"><span><!--{if $itmk1_words}-->$itmk1_words<!--{else}--><span class="grey">{lang pack}1</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms1}-->$itm1_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk1_words</span></TD>
								<TD class=b3><span>$itme1</span></TD>
								<TD class=b3><span>$itms1</span></TD>
							</tr>
							<tr>
								<TD class=b2 height="26"><span><!--{if $itmk2_words}-->$itmk2_words<!--{else}--><span class="grey">{lang pack}2</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms2}-->$itm2_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk2_words</span></TD>
								<TD class=b3><span>$itme2</span></TD>
								<TD class=b3><span>$itms2</span></TD>
							</tr>
							<tr>          			  
								<TD class=b2 height="26"><span><!--{if $itmk3_words}-->$itmk3_words<!--{else}--><span class="grey">{lang pack}3</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms3}-->$itm3_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk3_words</span></TD>
								<TD class=b3><span>$itme3</span></TD>
								<TD class=b3><span>$itms3</span></TD>
							</tr>
							<tr>          	
								<TD class=b2 height="26"><span><!--{if $itmk4_words}-->$itmk4_words<!--{else}--><span class="grey">{lang pack}4</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms4}-->$itm4_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk4_words</span></TD>
								<TD class=b3><span>$itme4</span></TD>
								<TD class=b3><span>$itms4</span></TD>
							</tr>
							<tr>          			  
								<TD class=b2 height="26"><span><!--{if $itmk5_words}-->$itmk5_words<!--{else}--><span class="grey">{lang pack}5</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms5}-->$itm5_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk5_words</span></TD>
								<TD class=b3><span>$itme5</span></TD>
								<TD class=b3><span>$itms5</span></TD>
							</tr>
							<tr>          			  
								<TD class=b2 height="26"><span><!--{if $itmk6_words}-->$itmk6_words<!--{else}--><span class="grey">{lang pack}6</span><!--{/if}--></span></TD>
								<TD class=b3><span><!--{if $itms6}-->$itm6_words<!--{else}-->$noitm<!--{/if}--></span></TD>
								<TD class=b3><span>$itmsk6_words</span></TD>
								<TD class=b3><span>$itme6</span></TD>
								<TD class=b3><span>$itms6</span></TD>
							</tr>
						</table>
      		</td>
      	</tr>
			</TABLE>
		</td>
	</tr>
</table>
