<!--{loop $club_skillslist $clb $vars}-->
<dialog id="skillhelp-c{$clb}" style="width: 568px; max-width: 90%;max-height: 80%;">

<p style="margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;">
<!--{eval $uidata = create_dummy_playerdata($clb);}-->
    以下是「{$clubinfo[$clb]}」的称号技能列表：<br><br>
    <table class="skilltable" style="width:559px">
        <tr>
            <td class="b1" width="40">
                <span>名称</span>
            </td>
            <td class="b1">
                <span>技能详情</span>
            </td>
        </tr>
        <!--{loop $uidata['clbpara']['skill'] $sknm}-->
        <!--{eval $skdata = init_clubskillsdata($sknm,$uidata);}-->
            <!--{if is_array($skdata)}-->
                <!--{eval include template($skdata[0]);}-->
            <!--{elseif !empty($skdata)}-->
                <!--{eval $skid = $skdata;include template('skill_temp');}-->
            <!--{/if}-->
        <!--{/loop}-->
    </table>
    <br>提示：点击技能界面外任意位置或按ESC键即可返回主界面<br>
</p>
<img class="dialog-background" src="img/profile.gif" onclick="closeDialog($('skillhelp-c{$clb}'));this.disabled=true;">
</dialog>
<!--{/loop}-->