“<span class="yellow">Smart Bomb</span>”Would increase your<span class="lime"> Maximum HP and SP </span>、<span class="lime">All Mastery</span>、<span class="lime"> and Base ATK and DEF</span>by <span class="yellow">A Certain Ratio</span>, and gain<span class="yellow"> Rage </span>in relation to your <span class="lime">Level</span>。However, <span class="yellow">This button can be only pressed ONCE</span>，you will<span class="yellow"> Lost your innate title</span> upon usage。<br>
Do you want to proceed?<br>

<input type="hidden" name="mode" value="sp_pbomb">
<input type="hidden" id="command" name="command" value="menu">

<input type="button" class="cmdbutton" onclick="$('command').value='YES';postCmd('gamecmd','command.php');this.disabled=true;" value="YES YES YES">

<input type="button" class="cmdbutton" onclick="postCmd('gamecmd','command.php');this.disabled=true;" value="NO NO NO">

