What do you want to change? Leave blank if you do not want to change something.<br>

<input type="hidden" name="mode" value="chgword">
<div>Motto : <input size="30" type="text" name="newmotto" maxlength="60" value="$motto"></div>
<br />Maximum 30 Bytes
<div>Kill Note : <input size="30" type="text" name="newkillmsg" maxlength="60" value="$killmsg"></div>
<br />Maximum 30 Bytes
<div>Last Note : <input size="30" type="text" name="newlastword" maxlength="60" value="$lastword"></div>
<br />Maximum 30 Bytes
<br />
<br />
<input type="button" class="cmdbutton" name="submit" value="Submit" onclick="postCmd('gamecmd','command.php');this.disabled=true;">