<div class="subtitle" align="left">{lang battle_achievement}</div>
<font color="olive">这里是与击破特定NPC相关的成就。<br>打倒他们来证明自己吧！<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top">{template achievement_4}</td>
	<td width="300" align="left" valign="top">{template achievement_13}</td>
	<td width="300" align="left" valign="top">{template achievement_22}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_23}</td>
	<td width="300" align="left" valign="top">{template achievement_25}</td>
	<td width="300" align="left" valign="top">{template achievement_20}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_21}</td>
	<td width="300" align="left" valign="top">{template achievement_24}</td>
	<td width="300" align="left" valign="top">{template achievement_26}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
</tr>
</table>
