<table align="center">
	<tr>
		<td>
			{lang credits}
		</td>
		<td>
			<span class="yellow" id="credits">$credits</span>
		</td>
		<td>
			{lang credits} Exchange has closed, you will receive 1 Gold after 1 game.<input type="hidden" id="exchg12" name="exchg12" value="0">
		</td>
	</tr>
	<tr>
		<td>
			{lang credits2}
		</td>
		<td>
			<span class="yellow" id="credits2">$credits2</span>
		</td>
		<td>
			{lang credits2} Exchange has closed.<input type="hidden" id="exchg21" name="exchg21" value="0">
		</td>
	</tr>
</table> 