<div class="subtitle" align="left">{lang trap_achievement}</div>
<table border="1">
<tr>
	<td width="300" align="left" valign="top">{template achievement_5}</td>
	<td width="300" align="left" valign="top">{template achievement_6}</td>
	<td width="300" align="left" valign="top">{template achievement_7}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_8}</td>
	<td width="300" align="left" valign="top">{template achievement_9}</td>
	<td width="300" align="left" valign="top">{template achievement_10}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_11}</td>
	<td width="300" align="left" valign="top"> &nbsp;</td>
	<td width="300" align="left" valign="top"> &nbsp;</td>
</tr>
</table>
