<table>
<tr>
	<td>{lang username}</td>
	<td><pre>&#9;</pre></td>
	<td>$username</td>
</tr>
<tr>
	<td>{lang validgames}</td>
	<td><pre>&#9;</pre></td>
	<td>$validgames</td>
</tr>
<tr>
	<td>{lang wingames}</td>
	<td><pre>&#9;</pre></td>
	<td>$wingames</td>
</tr>
<tr>
	<td>{lang winrate}</td>
	<td><pre>&#9;</pre></td>
	<td>$winning_rate</td>
</tr>
<tr>
	<td>{lang credits}</td>
	<td><pre>&#9;</pre></td>
	<td>$credits</td>
</tr>
<tr>
	<td>{lang credits2}</td>
	<td><pre>&#9;</pre></td>
	<td>$credits2</td>
</tr>
</table>
