<div class="subtitle" align="left">{lang other_achievement}</div>
<font color="olive">这里是与特定游戏中挑战相关的成就。<br>虽然颇为浮云，但毕竟山就在那里。<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top"> {template achievement_1} </td>
	<td width="300" align="left" valign="top"> {template achievement_28} </td>
	<td width="300" align="left" valign="top"> {template achievement_31} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_32} </td>
	<td width="300" align="left" valign="top"> {template achievement_255} </td>
	<td width="300" align="left" valign="top"> {template achievement_255} </td>
</tr>
</table>
