<div class="subtitle" align="left">{lang end_achievement}</div>
<font color="olive">这里是与游戏结局相关的成就。<br>虽说有些看起来帮助中没提到，但找寻它们也正是这游戏的醍醐味之一。<br></font>
<table border="1">
<tr>
	<td width="300" align="left" valign="top">{template achievement_16}</td>
	<td width="300" align="left" valign="top">{template achievement_17}</td>
	<td width="300" align="left" valign="top">{template achievement_18}</td>
</tr>
<tr>
	<td width="300" align="left" valign="top">{template achievement_19}</td>
	<td width="300" align="left" valign="top">{template achievement_255}</td>
</tr>
</table>
