<div class="subtitle" align="left">{lang mixitem_achievement}</div>
<table border="1">
<tr>
	<td width="300" align="left" valign="top"> {template achievement_0} </td>
	<td width="300" align="left" valign="top"> {template achievement_14} </td>
	<td width="300" align="left" valign="top"> {template achievement_15} </td>
</tr>
<tr>
	<td width="300" align="left" valign="top"> {template achievement_33} </td>
	<td width="300" align="left" valign="top">{template achievement_29}</td>
	<td width="300" align="left" valign="top">{template achievement_30}</td>
</tr>
</table>
