{template header}
<div class="subtitle" align="center">{lang valid}</div>

<p><img border="0" src="img/story_0.gif" style="align:center"></p>

<p align="center">“Welcome to Hunger Games<br />
	“Please enter your details<br />
	“May the odds be ever in your favor.<br />


	<form method="post"  action="valid.php" name="valid">
		<input type="hidden" name="mode" value="enter"> {lang name} : $username <br />
		{template usergdicon}<br />
		{template userwords}<br />

		<input type="submit" name="enter" value="{lang submit}">
		<input type="reset" name="reset" value="{lang reset}">
	</form>
	<br />
{template footer}