<form method="post" name="vnworld" onsubmit="return false;">
	<input type="hidden" name="vnmode" id="vnmode" value="none">
</form>
<div id="vlog">$vtips</div>
所有提交的合成列表（已被采纳的合成不会出现）：<br>
<span class="grey">（提交合成可能存在延迟，如果发现页面上没有显示，请等一会儿再刷新看看。）</span><br>
<a href="vn_postitem.php"><input type="button" value="创建一个新的合成"></a>
<br><br>
<!--{if !empty($temp_carr)}-->
<table>
	<tr>
		<td class="b1" height=20px>$log_tips[1]</td>
		<td class="b1" width="20px"></td>
		<td class="b1">$stuff_tips[0]</td>
		<td class="b1">$stuff_tips[1]</td>
		<td class="b1">$stuff_tips[2]</td>
		<td class="b1">$stuff_tips[3]</td>
		<td class="b1">$stuff_tips[4]</td>
		<td class="b1" width="25px"></td>
		<td class="b1">$result_tips[0]</td>
		<td class="b1">$result_tips[1]</td>
		<td class="b1">$result_tips[2]</td>
		<td class="b1">$result_tips[3]</td>
		<td class="b1">$log_tips[0]</td>
		<td class="b1" width="20px">编辑</td>
		<td class="b1">$log_tips[2]</td>
	</tr>
	<!--{loop $temp_carr $cid $cinfo}-->
		<tr>
			<td class="b3" height=20px >$cinfo['name']</td>
			<td class="b3" width="20px"><!--点赞按钮预留位--></td>
			<td class="b3"><!--{if isset($cinfo['stuff'][0])}-->$cinfo['stuff'][0]<!--{else}-->-<!--{/if}--></td>
			<td class="b3"><!--{if isset($cinfo['stuff'][1])}-->$cinfo['stuff'][1]<!--{else}-->-<!--{/if}--></td>
			<td class="b3"><!--{if isset($cinfo['stuff'][2])}-->$cinfo['stuff'][2]<!--{else}-->-<!--{/if}--></td>
			<td class="b3"><!--{if isset($cinfo['stuff'][3])}-->$cinfo['stuff'][3]<!--{else}-->-<!--{/if}--></td>
			<td class="b3"><!--{if isset($cinfo['stuff'][4])}-->$cinfo['stuff'][4]<!--{else}-->-<!--{/if}--></td>
			<td class="b3" width="25px"> → </td>
			<td class="b3">$cinfo['result'][0]</td>
			<td class="b3">$temp_vniteminfo[$cinfo['result'][1]]</td>
			<td class="b3">$cinfo['result'][2]</td>
			<td class="b3">$cinfo['result'][3]</td>
			<td class="b3"><!--{if isset($cinfo['spkinfo'])}-->$cinfo['spkinfo']<!--{else}-->-<!--{/if}--></td>
			<td class="b3" width="20px">
				<!--{if ($cinfo['name']==$udata['username']||$udata['groupid']>=$vnmix_editor_group||$udata['username']==$gamefounder) && $cinfo['status']!=1}-->
				<form method="post" action="vn_postitem.php" name="vn_postitem" onsubmit="vn_postitem.php" style="margin: 0px">
					<input type="hidden" name="editor" value="$cinfo['name']">
					<input type="hidden" name="editid" value="$cid">
					<input type="submit" name="vnmode" value="编辑">
				</form>
				<!--{/if}-->
			</td>
			<td class="b3">$check_tips[$cinfo['status']]</td>
		</tr>
	<!--{/loop}-->
</table>
<!--{else}-->
<br>暂时还没有人提交过合成！<br>
<!--{/if}-->