<br>

<form method="post" name="info" onsubmit="winner.php">
<input type="hidden" id="command" name="command" value="info">
<input type="hidden" id="gnum" name="gnum" value="">
<center>
	<TABLE border="1" cellspacing="0" cellpadding="0">
		<TR height="20">
			<TD class="b1"><span>Round</span></TD>
			<TD class="b1"><span>Win Method</span></TD>
			<TD class="b1"><span>Winner</span></TD>
			<TD class="b1"><span>Avatar</span></TD>
			<TD class="b1"><span>Game Ends At</span></TD>
			<TD class="b1"><span>Motto</span></TD>
			<TD class="b1"><span>Weapon</span></TD>
			<TD class="b1"><span>Max Damage</span></TD>
			<TD class="b1"><span>Max Kill</span></TD>
			<TD class="b1"><span>Details</span></TD>
		</TR>
		<!--{loop $winfo $gid $info}-->
		<TR height="20">
			<TD class="b2"><span>$gid</span></TD>
			<TD class="b3"><span>$gwin[$info['wmode']]</span></TD>
			<TD class="b3" style="white-space: nowrap;"><!--{if $info['name']}--><span class="evergreen"><u><a href="user_profile.php?playerID=$info['name']">$info['name']</a></u></span><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3"><span><img src="img/$info['iconImg']" style="width:70;height:40;"></span></TD>
			<TD class="b3"><span>$info['date']</span><br><span>$info['time']</span></TD>
			<TD class="b3"><!--{if $info['motto']}--><span class="white">$info['motto']</span><!--{else}--><span class="grey">NONE</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['wep']}--><span class="white">$info['wep']</span><!--{else}--><span class="grey">NONE</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hdmg']}--><span class="white"><u><a href="user_profile.php?playerID=$info['hdp']">$info['hdp']</a></u></span><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hkill']}--><span class="white"><u><a href="user_profile.php?playerID=$info['hkp']">$info['hkp']</a></u></span><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3">
				<span>
					<input type="button" value="CHARACTER INFO" <!--{if $info['wmode'] && $info['wmode'] != 1 && $info['wmode'] !=4 && $info['wmode'] != 6}-->onclick="$('command').value='info';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
					<input type="button" value="ROUND NEWS LOG" <!--{if $info['wmode'] && $info['wmode'] !=4}-->onclick="$('command').value='news';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
				</span>
			</TD>
		</TR>
		<!--{/loop}-->
	</TABLE>
</center>
</form>

<form method="post" name="list" action="winner.php">
<input type="hidden" name="command" value="list">
<input type="hidden" name="start" value="$gamenum">
<input style="width: 120px;" type="button" value="Most Recend {$winlimit} Rounds" onClick="document['list'].submit();">
<br>
<!--{if isset($listinfo)}-->$listinfo<!--{/if}-->
</form>
