<table align="center">
	<tr><td>
		<span id="main">
		{template profile}
		<span>
		</td>
		<td>
		<table border="1" width="250" height="300" cellspacing="0" cellpadding="0" >
			<tr height="1">
				<td height="20" class="b1"><span><span class="yellow">System</span></td>
			</tr>
			<tr><td valign="top"class="b3" style="text-align: left"><div>
			Game Round $gid <br>
			Players: $vnum <br>
			Win Method： $gwin[$wmode]<br>
			Game Time：$gdate<br>
			Game Start Time：$gsdate<br>           
			Game End Time：$gedate<br>
			Highest Damage： <u><a href="user_profile.php?playerID=$hdp">$hdp</a></u> ($hdmg)<br>
			Highest Kills： <u><a href="user_profile.php?playerID=$hkp">$hkp</a></u> ($hkill)<br>
<br>
<form method="post" name="back" action="winner.php">
<input type="submit" name="submit" value="{lang back}">
</form>

				</div></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
