<section class="nv-window nv-window--battle" id="nv-battle" data-window-title="Battle Result">
    <div class="nv-window__titlebar">
        <span class="nv-window__title">Battle Result / 交战结果</span>
        <span class="nv-window__actions"><button type="button" class="nv-window__action" data-window-minimize title="Minimize">_</button></span>
    </div>
    <div class="nv-window__body">
        <div class="nv-battle-result">
            <div class="nv-section-title">$battle_title</div>
            <div class="nv-compat">
                $cmd
            </div>
        </div>
    </div>
</section>
