<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{lang title} :: Nouveau</title>
<!--{if isset($extrahead)}-->$extrahead<!--{/if}-->
<style type="text/css" id="css">{template css}</style>
<link rel="stylesheet" type="text/css" href="templates/nouveau/assets/css/nouveau.css">
<link rel="stylesheet" type="text/css" href="templates/nouveau/assets/css/windows.css">
<link rel="stylesheet" type="text/css" href="templates/nouveau/assets/css/game-panels.css">
<link rel="stylesheet" type="text/css" href="templates/nouveau/assets/css/responsive.css">
<!--{if (CURSCRIPT == 'messages')}-->
<link rel="stylesheet" type="text/css" href="gamedata/cache/style_buttons.20180118.css">
<link rel="stylesheet" type="text/css" href="gamedata/cache/style_messages.20180221.css">
<!--{/if}-->
<script type="text/javascript" src="include/javascript/jquery.min.js"></script>
<script type="text/javascript" id="sourcecode">jQuery.noConflict();</script>
<script type="text/javascript" src="include/common.js"></script>
<script type="text/javascript" src="include/game20130526.js"></script>
<script type="text/javascript" src="include/json.js"></script>
<script type="text/javascript" src="include/pako.js"></script>
<!--{if (CURSCRIPT == 'game')}-->
<script type="text/javascript" src="include/record.js"></script>
<!--{/if}-->
<script type="text/javascript" src="templates/nouveau/assets/js/window-manager.js" defer></script>
<script type="text/javascript" src="templates/nouveau/assets/js/image-fallback.js" defer></script>
<script type="text/javascript" src="templates/nouveau/assets/js/panel-bindings.js" defer></script>
<script type="text/javascript" src="templates/nouveau/assets/js/keyboard-shortcuts.js" defer></script>
<script type="text/javascript" src="templates/nouveau/assets/js/nouveau.js" defer></script>
</head>
<body class="nouveau-ui" <!--{if CURSCRIPT == 'game' && $hotkeyon}-->onkeyup="hotkey(event);"<!--{/if}-->>
<div class="nouveau-desktop-bg" aria-hidden="true"></div>
<div class="nv-topbar">
    <div class="nv-topbar__brand"><a href="index.php">{lang title}</a><span>Nouveau Terminal</span></div>
    <div class="nv-topbar__links">
        <a href="index.php">{lang index}</a>
        <!--{if isset($cuser) && isset($cpass)}-->
        <a href="messages.php">{lang messages}<!--{if !empty($new_messages)}--><b>NEW</b><!--{/if}--></a>
        <a href="user_profile.php">{lang user}</a>
        <!--{else}-->
        <a href="register.php">{lang register}</a>
        <!--{/if}-->
        <a href="game.php">{lang game}</a>
        <a href="map.php">{lang map}</a>
        <a href="news.php">{lang news}</a>
        <a href="alive.php">{lang alive}</a>
        <a href="winner.php">{lang winner}</a>
        <a href="rank.php">{lang rank}</a>
        <a href="help.php">{lang help}</a>
        <a href="record.php">回放录像</a>
        <!--{if (CURSCRIPT == 'game')}--><a href="javascript:void(0)" onclick="stopRecording()">停止录像</a><!--{/if}-->
    </div>
</div>
<main class="nouveau-desktop" id="nouveau-desktop">
